{% macro previousResultats(numero, nomAdversaire) %}
    <div id="modalJoueursAdv{{ numero }}" class="modal modal-fixed-footer modal-medium center">
        <div class="modal-content">
            <h6 style="margin-bottom: 18px"><b>Compos et résultats - {{ nomAdversaire }}</b></h6>

            <div id="joueursAdv{{ numero }}" style="padding-right: 3px;padding-left: 3px;">
                <div style="display: flex; align-items: center; justify-content: center; position: fixed; top: 0; left: 0; right: 0; bottom: 0;">
                    <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect btn-flat grey-text">FERMER</a>
        </div>
    </div>
{% endmacro %}