{% extends 'base.html.twig' %}

{% block title %}Déjà connecté{% endblock %}

{% block body %}

    {% include("components/navbar.html.twig") %}

    <div class="container">
        <div class="card-panel center-align">
            <h5>Vous êtes déjà connecté.</h5>

            <a href="{{ path('index') }}">
                <button class="btn waves-effect waves-light center">Retour à l'accueil</button>
            </a>
            <a href="{{ path('logout') }}">
                <button class="btn waves-effect waves-light center light-blue darken-1">Deconnexion</button>
            </a>
        </div>
    </div>

{% endblock %}