{% extends 'base.html.twig' %}

{% block title %}Déjà connecté{% endblock %}

{% block body %}

    {% include("components/navbar.html.twig") %}

    <div class="container">
        <div class="card-panel center-align">
            <i class="green-text large material-icons">person_pin</i>
            <h4>Vous êtes déjà connecté.</h4>

            <a href="{{ path('index') }}">
                <button class="btn waves-effect waves-light blue lighten-2 center">Retour à l'accueil</button>
            </a>
            <a href="{{ path('logout') }}">
                <button class="btn waves-effect waves-light center red darken-1">Deconnexion</button>
            </a>
        </div>
    </div>

{% endblock %}