{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <header>
        {% include("components/navbar.html.twig") %}
    </header>

    <div style="margin-top: 40px;" class="container">
        <div class="card-panel center-align" id="sendMailForm">
            <h5 id="title">Mot de passe oublié</h5>
            <p id="consigne">
                <i>Saississez votre pseudo ainsi qu'une des deux adresses emails renseignées dans votre profil Kompo.
                    <br>Vous recevrez ensuite un e-mail vous permettant de réinitialiser votre mot de passe.</i>
            </p>

            <div class="container">
                <div class="input-field">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="username" name="_username" type="text" maxlength="50" class="validate trimInput" required>
                    <label for="username">Votre pseudo</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">mail</i>
                    <input id="email" name="_email" type="email" class="validate trimInput" required>
                    <label for="email">Votre adresse e-mail</label>
                </div>
            </div>

            <div id="preloaderResetPassword" hidden>
                <div class="preloader-wrapper small active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>

            <p class="red-text" id="errorResetPassword" hidden></p>

            <div id="buttonsResetPassword">
                <a href="{{ path('login') }}" class="btn waves-effect grey lighten-1">Retour</a>
                <button onclick="resetPassword()" id="btnResetPassword" class="btn waves-effect blue lighten-1 disabled">
                    <i class="material-icons prefix">send</i> Envoyer
                </button>
            </div>
        </div>

        <div class="card-panel center-align hide" id="divMailSent">
            <h5>E-mail de récupération de votre mot de passe envoyé</h5>
            <p><i>Veuillez vérifier votre boite de réception</i></p>

            <a href="{{ path('login') }}" class="btn waves-effect blue lighten-1">Se connecter</a>
        </div>
    </div>

    <script type="text/javascript" src="{{ asset('JS/resetPassword.min.js') }}" defer></script>

{% endblock %}