{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

    {% include("components/navbar.html.twig") %}

    <div style="margin-top: 40px;" class="container">
        <div class="card-panel center-align" id="sendMailForm">
            <h4 style="margin-top: 0; margin-bottom: 6px; color: #0c3565">Mot de passe oublié</h4>
            <p style="margin-bottom: 0; font-style: italic;">Saississez une des adresses mails que vous avez renseigné dans votre profil Kompo</p>
            <p style="margin-top: 0; font-style: italic;">Vous recevrez ensuite un mail vous permettant de réinitialiser votre mot de passe</p>

            <div class="container">
                <div class="input-field">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="username" name="_username" type="text" maxlength="50" class="validate" required>
                    <label for="username">Votre pseudo</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">mail</i>
                    <input id="email" name="_email" type="email" class="validate" required>
                    <label for="email">Votre adresse mail</label>
                </div>
            </div>

            <div id="preloaderResetPassword" hidden style="height: 38px;">
                <div class="preloader-wrapper small active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="buttonsResetPassword">
                <a href="{{ path('login') }}" class="btn waves-effect waves-light grey lighten-1">Retour</a>
                <button onclick="resetPassword()" id="btnResetPassword" class="btn waves-effect waves-light blue lighten-1 disabled"><i class="material-icons prefix">send</i> Envoyer</button>
            </div>
        </div>

        <div class="card-panel center-align hide" id="divMailSent">
            <h4 style="margin-top: 0; margin-bottom: 6px; color: #0c3565">Mail de récupération de votre mot de passe envoyé</h4>
            <p>Veuillez vérifier votre boite de réception</p>

            <a style="margin-top: 0;" href="{{ path('login') }}" class="btn waves-effect waves-light blue lighten-1">Se connecter</a>
        </div>
    </div>

    <script type="text/javascript" src="{{ asset('JS/resetPassword.min.js') }}" defer></script>

{% endblock %}