{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as _flash %}

{% block title %}Se connecter{% endblock %}

{% block body %}

    {% include("components/navbar.html.twig") %}

    <div style="margin-top: 40px;" class="container">
        <div class="card-panel center-align">
            <h3 style="margin-top: 0">Se connecter</h3>

            {% if error %}
                {{ _flash.message(error.messageKey | trans(error.messageData, 'security'), 'red') }}
            {% endif %}

            <form action="{{ path('login') }}" method="POST">
                <div class="container">
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="username" name="_username" type="text" autocapitalize="off" class="validate" value="{{ lastUsername }}" required>
                        <label for="username">Votre pseudo</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">lock</i>
                        <input id="password" name="_password" type="password" class="validate" required>
                        <label for="password">Votre mot de passe</label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="_remember_me" />
                            <span>Rester connecté</span>
                        </label>
                    </div>
                </div>

                <button class="btn waves-effect waves-light blue lighten-2"><i class="material-icons prefix">check</i> C'est parti !</button>
            </form>
        </div>
    </div>

{% endblock %}