{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as _flash %}

{% block title %}Réinitialiser mon mot de passe{% endblock %}

{% block body %}

    <header>
        {% include("components/navbar.html.twig") %}
    </header>

    <div style="margin-top: 40px;" class="container">
        <div class="card-panel center-align">
            <h4 style="margin-top: 0; margin-bottom: 6px; color: #0c3565">Réinitialiser mon mot de passe</h4>

            {% for message in app.flashes('fail') %}
                {{ _flash.message(message, 'red') }}
            {% endfor %}

            {% for message in app.flashes('christmas_code') %}
                <div class="card-panel center-align" style="background-color: transparent; box-shadow: none; padding-top: 0;padding-bottom: 0;">
                    <span class="reset pastille christmas_code">M36S3</span>
                </div>
            {% endfor %}

            <form action="{{ path('login.reset.password', {'token': token}) }}" method="POST">
                <div class="row">
                    <div class="input-field col s12 l6">
                        <i class="material-icons prefix">lock</i>
                        <input name="new_password" id="new_password" type="password" class="validate" maxlength="100" required>
                        <label for="new_password">Nouveau mot de passe</label>
                    </div>
                    <div class="input-field col s12 l6">
                        <i class="material-icons prefix">lock</i>
                        <input name="new_password_validate" id="new_password_validate" type="password" maxlength="100" class="validate" required>
                        <label for="new_password_validate">Saisir de nouveau</label>
                    </div>
                </div>

                <a href="{{ path('login') }}" class="btn waves-effect grey lighten-1">Annuler</a>
                <button id="btnResetPassword" class="btn waves-effect blue lighten-1"  style="margin-left: 10px" disabled>Modifier</button>
            </form>
        </div>
    </div>

    <script type="text/javascript" src="{{ asset('JS/resetPasswordForm.min.js') }}" defer></script>

{% endblock %}