{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as flash %}

{% block title %}Se connecter{% endblock %}

{% block body %}

    <div class="container">
        <div class="card-panel center-align">
            <h3>Se connecter</h3>

            {% if error %}
                {{ flash.fail(error.messageKey | trans(error.messageData, 'security')) }}
            {% endif %}

            <form action="{{ path('login') }}" method="POST">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="username" name="_username" type="text" class="validate" value="{{ lastUsername }}">
                        <label for="username">Votre pseudo</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="password" name="_password" type="password" class="validate">
                        <label for="password">Votre mot de passe</label>
                    </div>
                </div>

                <button class="btn waves-effect waves-light blue lighten-2">C'est parti !</button>
            </form>
        </div>
    </div>

{% endblock %}