html {
    background: linear-gradient(135deg, rgb(17, 116, 184) 1%, rgba(0,19,23,1) 100%);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-attachment: fixed;
    background-size: cover;
}

.card-panel {
    background-color: rgb(255, 255, 255);
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    margin-top: 30px;
}

.titre {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.btn {
    margin-top: 10px;
}

.btn_form {
    margin: 0;
}

.h4_form {
    margin-top: 0;
}

.dispos {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    float: right;
    margin-top: 10px;
}

.nice-select {
    border-radius: 0;
    padding-right: 300px;
    width: 350px;
}

.nice-select .list {
    border-radius: 0;
    height: 250px;
    overflow-y: auto;
}
.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
    color: #6495ed;
    background: none;
}

.li_in_line, #btn_link {
    border-radius: 5px;
    margin-left: 4px;
    margin-right: 4px;
}

thead th, h5, h4, h3, td.rank, .flash, .bulle, .lobster {
    font-family: Lobster, cursive;
}

.lobster {
    font-size: 20px;
}

.flash {
    font-size: 24px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-wrapper li:hover {
    background-color: #1565c0;
}

.nav-extended, .title_journee {
    background: #012242;
}

.nav-extended {
    padding-top: 6px;
    padding-bottom: 6px;
}

.title_journee {
    padding-top: 10px;
    padding-bottom: 10px;
}

.title_journee {
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
}

td, li, p, .btn, label, .nav-extended li a, nav ul a, .card-panel .bottom_0, .tab a {
    font-family: 'IBM Plex Serif', serif;
    font-size: 95%;
    padding-left: 10px;
    padding-right: 10px;
}

.card-panel.bottom_0 {
    padding-top: 10px;
    padding-bottom: 6px;
}

.chip {
    font-size: 16px;
    background-color: transparent;
    height: 40px;
    line-height: 40px;
    color: black;
}

.chip>img {
    height: 40px;
    width: 40px;
}

i {
    vertical-align: bottom;
}

.bulle {
    background: #012242;
    text-align: center;
    border-radius: 50%;
    padding: 8px 10px;
}

.li_in_line a, thead th, nav ul a {
    font-size: 18px;
}

.header_compo, .form_div_list div:last-child, .brulage_edit, .bottom_0 {
    margin-bottom: 0;
}

p.lobster {
    margin-top: 0;
}

.divider {
    height: 3px;
    background: #012242;
}

.gestion {
    border: 1px solid #01579b ;
    border-radius: 5px;
}

.tabs {
    margin-top: 40px;
}

.tabs .tab a{
    color:#000;
} /*Black color to the text*/

.tabs .tab a:hover {
    background-color:#eee;
    color:#000;
} /*Text color on hover*/

.tabs .tab a.active {
    background-color:rgba(100,100,100, 0.5);
    color:#000;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color:#000;
} /*Color of underline*/

.poule {
    font-size: 1rem;
    margin-top: 10%;
}