body {
    background-image: url('https://img3.goodfon.com/wallpaper/nbig/e/83/nastolnyy-tennis-ping-pong.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.55);
    background-blend-mode: lighten;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.card-panel {
    background-color: rgb(255, 255, 255);
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    margin-top: 30px;
}

.titre {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.btn {
    margin-top: 10px;
}

.btn_login {
    margin-top: 0;
}

.h4_login {
    margin-top: 0;
}

.dispos {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    float: right;
    margin-top: 30px;
}

.nice-select {
    border-radius: 0;
    padding-right: 300px;
    max-width:90%;
}

.nice-select .list {
    border-radius: 0;
    height: 250px;
    overflow-y: auto;
}
.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
    color:cornflowerblue;
    background: none;
}

.nav-wrapper li a, thead th {
    font-size: 20px;
}

.nav-extended li {
    border-radius: 5px;
    margin-left: 4px;
    margin-right: 4px;
}

.nav-wrapper li a, thead th, h5, h4, h3, td.rank, .flash {
    font-family: Lobster, cursive;
}

.flash {
    font-size: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.nav-wrapper li:hover {
    background-color: #1565c0;
}

.nav-extended, .title_journee {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #012242;
}

.title_journee {
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
}

td, li, p, .btn, label {
    font-family: 'IBM Plex Serif', serif;
}