html {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(135deg, rgb(17, 116, 184) 1%, rgba(0, 19, 23, 1) 100%) fixed;
    background-size: cover;
}

.card-panel {
    background-color: rgb(255, 255, 255);
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.titre {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.btn {
    margin-top: 20px;
}

.btn_form {
    margin: 0;
}

.h4_form {
    margin-top: 0;
}

.dispos {
    border-radius: 10px;
    background-color: #ffffff;
    float: right;
    margin-top: 10px;
}

#nom_ad_mobile {
    margin-bottom: 10px;
    margin-top: 5px;
}

thead th, h5, h4, h3, td.rank, .flash, .bulle, .lobster {
    font-family: Lobster, cursive;
}

.lobster {
    font-size: 20px;
}

.flash {
    font-size: 24px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-extended, .sidenav, .title_journee {
    background: #012242;
}

.nav-extended {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 120%;
}

.title_journee {
    padding: 6px;
}

.title_journee>h4 {
    font-size: 2.10rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

li, p, .btn, label, .nav-wrapper li a, nav ul a, .card-panel .bottom_0, .tab a {
    font-size: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-wrapper li a, .sidenav li a, .poule, .card-panel>h5 {
    font-family: 'Lobster Two', cursive;
}

.sidenav li a {
    font-size: 17px;
}

.card-panel.bottom_0 {
    padding-top: 10px;
    padding-bottom: 6px;
}

.chip {
    font-size: 16px;
    background-color: transparent;
    height: 40px;
    line-height: 40px;
    color: black;
}

.chip>img {
    height: 40px;
    width: 40px;
}

i {
    vertical-align: bottom;
}

.bulle {
    background: #012242;
    text-align: center;
    border-radius: 50%;
    padding: 8px 10px;
}

.li_in_line {
    border-radius: 5px;
    padding-left: 0;
    padding-right: 0;
}

.nav-wrapper .li_in_line {
    margin-left: 4px;
    margin-right: 4px;

}
.sidenav .li_in_line {
    margin: 4px;
}

.li_in_line a, nav ul a {
    font-size: 18px;
}

.li_in_line:hover {
    background-color: #1565c0;
}

.header_compo, .form_div_list div:last-child, .brulage_edit, .bottom_0 {
    margin-bottom: 0;
}

p.lobster {
    margin-top: 0;
}

.btn_gestion {
    margin-top: 0;
}

.divider {
    height: 0.15em;
    background: #0c5fb0;
}

.tabs .tab a{
    color:#000;
} /*Black color to the text*/

.tabs .tab a:hover {
    background-color:#eee;
    color:#000;
} /*Text color on hover*/

.tabs .tab a.active {
    background-color:rgba(100,100,100, 0.5);
    color:#000;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color:#000;
} /*Color of underline*/

.poule {
    font-size: 1.3rem;
    margin-top: 3%;
    margin-bottom: 5px;
}

.nav-wrapper li:first-child {
    margin-left: 0.6rem;
}

.nav-wrapper li:last-child {
    margin-right: 0.6rem;
}

.select-dropdown li img {
    border-radius: 50%;
}

.dot {
    height: 11px;
    width: 11px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.dot1 {
    background-color: #2db009;

}

.dot2 {
    background-color: #ff0000;
}

.dot3 {
    background-color: #918c8c;
}

.first_sidenav {
    margin-top: 5px;
}

.titre_edit_journée {
    margin-bottom: 40px;
}

.carousel .indicators .indicator-item {
    border: 1px black solid;
    background-color: white;
}

.carousel .indicators .indicator-item.active {
    border: 1px black solid;
    background-color: #0c5fb0;
}

.indicators {
    height: 40px;
}

.indicator-item {
    padding: 5px;
}