
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/.env
/public/.htaccess
/src/Migrations
/public/images/profile_pictures/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
.idea
kompo_refactored.db
###> phpunit/phpunit ###
phpunit.xml.dist
###< phpunit/phpunit ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
