@charset "UTF-8";
html {
  font-family: "Lato", sans-serif;
  background: linear-gradient(135deg, #1174b8 1%, #001317 100%) fixed;
  background-size: cover;
}

.card-panel {
  background-color: white;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.btn {
  margin-top: 20px;
}

.btn_form {
  margin: 0;
}

.h4_form {
  margin-top: 0;
  margin-bottom: 16px;
}

.dispos, .brulages {
  border-radius: 10px;
  background-color: white;
  float: right;
  margin-top: 10px;
  font-size: 95%;
}
.dispos tr:first-child th, .brulages tr:first-child th {
  padding-top: 0;
  padding-bottom: 0;
}

.brulages td:not(:first-child) {
  background-color: rgba(171, 169, 169, 0.1);
  border-left-color: white;
  border-left-style: solid;
  border-right-color: white;
  width: 35.6px;
}
.brulages tr:last-child td {
  border-radius: 0 0 0 10px;
}

.complete_compos {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 100%;
}
.complete_compos h5 {
  font-size: 1.5rem;
  margin-top: 8px;
  margin-bottom: 8px;
}

thead th, h5, h4, h3, td.rank, .flash, .bulle, .lobster {
  font-family: Lobster, cursive;
}

.lobster {
  font-size: 20px;
}

.flash {
  font-size: 24px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-extended, .sidenav, .title_journee {
  background: #012242;
}

#menu_dropdown {
  background-color: #012242;
  padding: 0 4px;
}
#menu_dropdown li {
  border-radius: 5px;
  margin: 4px 0;
}
#menu_dropdown li:hover {
  background-color: #1565c0;
}

.nav-extended {
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 120%;
}

.title_journee {
  padding: 6px;
}
.title_journee h4 {
  font-size: 2.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

li, p, .btn, label, .nav-wrapper li a, nav ul a, .card-panel .bottom_0, .tab a {
  font-size: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-wrapper li a, .sidenav li a, .poule, .card-panel > h5, .complete_compos h5, h6, .lobster_2 {
  font-family: "Lobster Two", cursive;
}

.sidenav li a {
  font-size: 17px;
}

.card-panel.bottom_0 {
  padding-top: 10px;
  padding-bottom: 6px;
}

.chip {
  font-size: 16px;
  background-color: transparent;
  height: 40px;
  line-height: 40px;
  color: black;
}
.chip img {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.chip-menu {
  vertical-align: middle !important;
  padding-right: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0;
}
.chip-menu img {
  height: 35px;
  width: 35px;
  object-fit: cover;
  background-color: white;
}

.chip-mobile img {
  margin-top: 6px !important;
  margin-right: 25px !important;
}

.select-dropdown li img {
  border-radius: 50%;
  object-fit: cover;
}

i {
  vertical-align: bottom;
}

.bulle {
  background: #012242;
  text-align: center;
  border-radius: 50%;
  padding: 8px 10px;
}

.li_in_line {
  border-radius: 5px;
  padding-left: 0;
  padding-right: 0;
}
.li_in_line:hover {
  background-color: #1565c0;
}
.li_in_line.deconnexion:hover {
  background-color: red;
}

#menu_dropdown > li.deconnexion:hover {
  background-color: red;
}

.nav-wrapper .li_in_line {
  margin-left: 4px;
  margin-right: 4px;
}
.sidenav .li_in_line {
  margin: 4px;
}

.li_in_line a {
  font-size: 18px;
}
nav ul a {
  font-size: 18px;
}

.header_compo, .form_div_list div:last-child, .brulage_edit, .bottom_0 {
  margin-bottom: 0;
}

p.lobster {
  margin-top: 0;
}

.btn_gestion {
  margin-top: 0;
}

.paris_table > tbody > tr:nth-child(4) > .rank, .paris_table > tbody > tr:nth-child(5) > .rank, .paris_table > tbody > tr:nth-child(6) > .rank,
.light_blue {
  color: #1565c0;
}

.divider_custom {
  height: 0.15em;
  background: #1565c0;
}

.tabs .tab a {
  color: black;
}
.tabs .tab a:hover {
  color: black;
}
.tabs .tab a.active {
  background-color: rgba(128, 128, 128, 0.5);
  color: #000;
}
.tabs .indicator {
  background-color: black;
}

.poule {
  font-size: 1.3rem;
  margin-top: 3%;
  margin-bottom: 5px;
}

.nav-wrapper li:first-child {
  margin-left: 0.6rem;
}
.nav-wrapper li:last-child {
  margin-right: 0.6rem;
}

.dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: inline-block;
}

.dot1 {
  background-color: #2db009;
}

.dot2 {
  background-color: red;
}

.dot3 {
  background-color: #918c8c;
}

.first_sidenav {
  margin-top: 5px;
}

.titre_edit_journée {
  margin-bottom: 40px;
}

li.error {
  color: red;
}

#all_dispo_departementale .dispos > tbody > tr > td:not(:first-child) > span, #all_dispo_departementale .brulages > tbody > tr > td:not(:first-child) > span, #all_dispo_paris .dispos > tbody > tr > td:not(:first-child) > span, #all_dispo_paris .brulages > tbody > tr > td:not(:first-child) > span {
  margin-right: 0;
}

.switch label {
  color: black;
}
.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #1174b8;
}
.switch label input[type=checkbox]:checked + .lever {
  background-color: rgba(17, 116, 184, 0.5);
}
.switch label input[type=checkbox] + .lever:after {
  background-color: #1174b8;
}
.switch label input[type=checkbox] + .lever {
  background-color: rgba(17, 116, 184, 0.5);
}

.form_div_list .dropdown-content li:first-child > span {
  color: gray;
  font-style: italic;
}

form[name=rencontre_paris_haut] h5, form[name=rencontre_paris_bas] h5, form[name=rencontre_departementale] h5 {
  font-size: 1.3rem;
}

.uppercase {
  text-transform: uppercase;
}

div .profile_pic .file-field.input-field {
  margin-left: 18%;
  margin-right: 18%;
}

.pastille {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 30px;
  color: white;
}

.exempt {
  margin-left: 50px;
  margin-right: 50px;
}

.modal {
  width: 92% !important;
  height: 85% !important;
  max-height: 100% !important;
}

.modal-content {
  max-width: 100% !important;
}

.preloaderSendMail {
  margin-top: 25px;
}

.table_contact .btn {
  text-transform: none;
  margin-top: 2px;
  margin-bottom: 2px;
}
.table_contact td:nth-last-child(2) {
  min-height: 74px;
}

.rainbow {
  background: linear-gradient(124deg, #1cb137, #075d17, #1cb137, #075d17, #1cb137, #075d17);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 8s ease infinite;
  -z-animation: rainbow 8s ease infinite;
  -o-animation: rainbow 8s ease infinite;
  animation: rainbow 8s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0 82%;
  }
}
@media screen and (min-width: 1285px) {
  .exempt {
    margin-left: 80px;
    margin-right: 80px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1334px) {
  .menu_navbar {
    display: block;
  }

  .right_items_navbar {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
