$green: #2db009;
$grey: #918c8c;
$light_grey: #aba9a9;
$darken_blue: #021931;
$dark_blue: #012242;
$light_blue: #1565c0;
$scroll_blue: #1b5fac;
$scroll_dark_blue: #0d427f;
$gradient_blue_light: rgb(17, 116, 184);
$gradient_blue_dark:  rgba(0, 19, 23, 1);

[type="checkbox"].filled-in:checked+span:not(.lever):after{
  background-color: #2196f3;
  border-color: #2196f3;
}

html {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(135deg, $gradient_blue_light 1%, $gradient_blue_dark 100%) fixed;
  background-size: cover;
  height: 100%;
  display: block;
}

body {
  height: 100%;
  margin: 0;
  position: relative;
}

html,body{
  scrollbar-color: $scroll_blue white !important;
  scrollbar-width: thin;
}

#wrap {
  min-height: 100%;
  position: relative;
}

#main {
  position: relative;
  padding-bottom: 75px;
}

.card-panel {
  background-color: white;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-top: 20px;

  &.bottom_0 {
    padding-top: 10px;
    padding-bottom: 6px;
  }

  &.backoffice-panel {
    padding: 10px;
  }

  &.account-card {
    .col {
      margin-top: 20px;
    }
  }
}

.btn {
  margin-top: 20px;
}

.btn_form {
  margin: 0;
}

.h4_form {
  margin-top: 0;
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
}

.dispos {
  border-radius: 10px;
  background-color: white;
  float: right;
  margin-top: 10px;
  font-size: 95%;
  padding: 0;
  width: 100%;

  a.modalAlertNoDispoSet {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  tr:first-child th {
    padding-top: 0;
    padding-bottom: 0;
  }

  tbody tr {
    & > td:first-child {
      padding-right: 0;
      padding-left: 3%;
    }

    & > td:last-child {
      padding-left: 0;
    }
  }
}

.dispos.merged_cards, .brulageCard.merged_cards {
  & .row.bottom_0 {
    padding: 0;
    text-align: left;

    & .col {
      padding: 0;

      & .s10 {
        padding-right: 1px;
      }

      & .s2 {
        left: 8px;
      }
    }
  }
}

ul.collection {
  margin: 0 auto;
  width: fit-content;
  border-color: $gradient_blue_light;
  border-radius: 4px;

  .collection-item {
    border-bottom-color: $gradient_blue_light;
  }
}

.dispos.merged_cards {
  h6 {
    font-size: 1.25rem;
  }

  table {
    & thead tr h6 {
      font-size: 1.25rem;
    }

    &:not(:first-of-type) {
      & thead tr h6 {
        margin-top: 15px;
      }
    }

    tbody tr {
      td {
        span {
          margin-left: 2%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .col.s1 {
          padding-left: 0; padding-right: 0;
        }
      }
    }
  }

  .row.bottom_0 {
    margin-left: 0;
    margin-right: 0;

    &:nth-of-type(2) {
      margin-bottom: 4px;
    }

    &:first-of-type {
      margin-top: 10px;

      .col.s2 {
        margin-top: 2px;
      }
    }
  }
}

div.scrollableTable {
  overflow-x: scroll;
  width: 100%;
  padding: 0;
  font-size: 90%;
  height: auto;
  margin-top: 10px;

  tr:nth-child(odd)>td {
    background-color: rgb(242,242,242);
  }

  tr:nth-child(even)>td {
    background-color: white;
  }

  td:not(:first-child) {
    width: 35.6px;
  }

  td:first-child {
    min-width: 170px;
  }

  thead tr > th {
    position: sticky;
    padding: 0 5px;
    z-index: 2;
    background-color: white;
  }

  thead tr > :first-child {
    z-index: 3;
    left: 0;
    top: 0;
  }

  tbody tr > :first-child {
    position: sticky;
    z-index: 1;
    left: 0;
    padding-left: 8px;
  }

  td:not(:first-child){
  }
}

.complete_compos {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 100%;
  margin-top: 10px;

  & h5 {
    font-size: 1.5rem;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

thead th, h5, h4, h3, td.rank, .flash, .divisionBubble, .lobster {
  font-family: Lobster, cursive;
}

.lobster {
  font-size: 20px;
}

.flash {
  font-size: 24px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

i.iconPlace {
  font-size: 30px;
  color: $dark_blue;

  .btn-small & {
    font-size: 25px;
    color: white;
  }
}

.setDispoCard {
  padding-top: 10px;
  padding-bottom: 10px;

  h5.unsetTitle {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.nav-extended, .sidenav, .title_journee {
  background: $dark_blue;
}

#menu_dropdown_champs, #menu_dropdown_contact, #collapsible-sidenav {
  width: auto !important;
  background-color: #032d56;

  & li {
    border-radius: 5px;
    margin: 2px 0 2px 2px;
    white-space: nowrap;
    width: 98% !important;

    &:hover {
      background-color: $light_blue;
    }
  }
}

#menu_dropdown_champs, #menu_dropdown_contact {
  padding: 2px 2px;
  border-radius: 5px;
}

#collapsible-sidenav{
  padding: 0 !important;
  border-radius: 5px;
}

.nav-extended {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 120%;

  & .journee_passee {
    margin-left: 4px;
  }
}

.title_journee {
  padding: 6px;

  h4 {
    font-size: 2.10rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

li, p, .btn, label, nav ul a, .card-panel .bottom_0, .tab a {
  font-size: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-wrapper li a {
  font-size: 17px;
}

.nav-wrapper li a, .sidenav li a, .poule, .card-panel h5, .complete_compos h5, h6, .lobster_2 {
  font-family: 'Lobster Two', cursive;
}

.sidenav li a, .chip-sidenav {
  font-size: 17px;
}

.chip {
  font-size: 16px;
  background-color: transparent;
  height: 40px;
  line-height: 40px;
  color: black;

  img {
    height: 40px;
    width: 40px;
    object-fit:cover;
  }
}

.cardJoueursBrules {
  margin-top: 20px;
  padding: 10px 0 6px;

  h5 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.chip-menu {
  vertical-align: middle !important;
  padding-right: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0;

  img {
    height: 35px;
    width: 35px;
    object-fit:cover;
    background-color: white;
  }
}

.chip-mobile img {
  margin-top: 6px!important;
  margin-right: 25px!important;
}

i {
  vertical-align: bottom;

  &.campaign {
    font-size: 1.5rem;
  }
}

.divisionBubble {
  background: $dark_blue;
  text-align: center;
  border-radius: 50%;
  padding: 8px 10px;
}

.whatsapp_btn {
  background-color: #25d366;
  padding: 0;

  img {
    padding: 5px 8px;
  }
}

#slide-out .collapsible .li_in_line {
  background-color: $dark_blue;

  & a:hover {
    background-color: $light_blue;
  }
}

.li_in_line {
  border-radius: 5px;
  padding-left: 0;
  padding-right: 0;

  &:hover {
    background-color: $light_blue;
    border-radius: 5px;
  }

  &.deconnexion > a {
    &:hover {
      background-color: #f15454;
      border-radius: 5px;
    }
  }

  .nav-wrapper & {
    margin-left: 2px;
    margin-right: 2px;
  }

  .sidenav & {
    margin: 4px;
  }
}

.header_compo, .form_div_list div:last-child, .bottom_0 {
  margin-bottom: 0;
}

p.lobster {
  margin-top: 0;
}

.btn_gestion {
  margin-top: 5px;
}

.rank.rank_blue, .light_blue {
  color: $light_blue;
}

button.renew_certif_table {
  width: 27px !important;
  height: 27px !important;;

  i {
    font-size: 14px;
    top: -2px;
    position: relative;
  }
}

.divider_custom {
  height: 0.15em;
  background: $light_blue;
}

// On restylise le contenu du formulaire WYSIWYG
#ckeditor-render {
  word-wrap: break-word;
  hyphens: auto;
  padding: 10px;

  figure.table {
    width: 100%;
    overflow-x: scroll;
    margin-left: 0;
  }

  li {
    padding-left: 0;
  }
}

.collapsible {
  border: none;
  box-shadow: none!important;

  .collapsible-body {
    border: none;
    padding: 0 5px;
  }

  &.backoffice_disponibilites {
    margin-top: 6px;
    margin-bottom: 6px;

    & button.btn {
      margin-top: 0;
    }
  }

  &.backoffice_archives {
    img {
      opacity: 60%;
    }
  }

  &.backoffice_disponibilites, &.backoffice_archives {
    margin-top: 6px;
    margin-bottom: 6px;

    .collapsible-header {
      padding-top: 6px;
      padding-bottom: 6px;

      .chip {
        margin: 0;
      }
    }
    .collapsible-body {
      background-color: white;

      .row {
        margin: 0 10px 0 0;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

.tabs {
  .tab a {
    color: black;
  }

  .tab a:hover {
    color: black;
  }

  .tab a.active {
    background-color:rgba(grey, 0.5);
    color:#000;
  }

  .indicator {
    background-color:black;
  }
}

.poule {
  font-size: 1.3rem;
  margin-top: 3%;
  margin-bottom: 5px;
}

.nav-wrapper {
  li:first-child {
    margin-left: 0.6rem;
  }

  li:last-child {
    margin-right: 0.6rem;
  }
}

.dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: inline-block;
}

.pastilleDispos {
  font-size: 100%;
  max-width: 70px;
  margin-left: 8px !important;
}

.dot1 {
  background-color: $green;
}

.dot2 {
  background-color: red;
}

.dot3 {
  background-color: $grey;
}

.first_sidenav {
  margin-top: 5px;

  .journee.li_in_line a {
    padding-right: 20px;
    display: flex;
    justify-content: space-between;

    i {
      margin-right: 0;
    }

    .dot {
      position: relative;
      top: 45%;
      width: 6px;
      height: 6px;
    }
  }

  & .collapsible-header {
    border-radius: 5px;
  }
}

.titre_edit_journée {
  margin-bottom: 40px;
}

li.error {
  color: red;
}

.switch label {
  color: black;

  input[type=checkbox]:checked + .lever:after {
    background-color: $gradient_blue_light;
  }

  input[type=checkbox]:checked+.lever {
    background-color: rgba($gradient_blue_light, 0.5);
  }

  input[type=checkbox]+.lever:after {
    background-color: $gradient_blue_light;
  }

  input[type=checkbox]+.lever {
    background-color: rgba($gradient_blue_light, 0.5);
  }
}

.form_div_list .dropdown-content li:first-child>span {
  color: gray;
  font-style: italic;
}

form {
  h5 {
    font-size: 1.3rem;
  }
}

.issue .row {
  margin-bottom: 0;
}

.uppercase{
  text-transform: uppercase;
}

.titlecase .select-dropdown.dropdown-trigger, .titlecase .dropdown-content.select-dropdown{
  text-transform: capitalize;
}

.input_file .file-field.input-field{
  margin-left: 20%;
  margin-right: 20%;
}

.pastille {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 30px;
  color: white;

  &.reset, &.centered {
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    border-radius: 15px;
  }
}

.virtualRankButtons {
  display: flex;
  justify-content: space-evenly;
}

.virtualPointsDiv {
  display: flex;
  justify-content: space-between;

  & {
    h6 {
      margin-top: 0;
      margin-bottom: 0;
    }

    span {
      width: 15%;
    }
  }
}

span.virtualPoints {
  background-color: #0c3a69;
}

table.rankingVirtualPoints {
  font-size: 13px !important;
  td {

    &:not(.td-chip) {
      padding-left: 0;
      padding-right: 0;
    }

    &.td-name {
      display: none;
    }

    i {
      vertical-align: middle;
      font-size: 20px;
    }

    & .chip{
      padding-right: 0;
      margin-bottom: 0;
      margin-left: 4px;

      .nom {
        font-size: 13px !important;
      }
    }
  }
}

.tooltipped {
  cursor: pointer;
}

.exempt {
  margin-left: 50px;
  margin-right: 50px;
}

.gold-color {
  color: #ecc70a;
}

.silver-color {
  color: #C0C0C0;
}

.bronze-color {
  color: #CD7F32;
}

.modal {
  width: 92% !important ;
  height: 87% !important ;
  min-height: 87% !important ;
  max-height: 100% !important;
  top: 7% !important;

  & .modal-content {
    max-width: 100% !important;

    h5 {
      margin-bottom: 4px;
    }

    & .card {
      border-radius: 10px;
      width: auto;
      margin: 5px 15px;

      & p.red-text {
        padding-top: 8px;
      }

      & a {
        margin-top: 8px;
      }
    }

    & > .row {
      margin: 0 !important;

      & .row {
        margin: 10px 0 12px 0 !important;
      }
    }
  }

  &.modal-medium {
    margin-top: 5% !important;
    width: 700px !important ;
    height: 80% !important ;
    min-height: 80% !important ;
    top: 4% !important;

    & .modal-content {
      padding: 2px;
    }
  }

  &.modal-small {
    width: 45% !important;

    & .modal-gps{
      h5 {
        margin-top: 0;
        margin-bottom: 10px;
      }

      h6 {
        font-size: 20px;
      }

      a.btn.phone {
        margin-top: 0;
      }

      p.complAdr {
        margin: 0;
      }

      .btn-gps{
        p.adr {
          margin: 0;
        }

        p.adr {
          margin-top: 4px;
        }

        .row_btns {
          display: flex;
          justify-content: center;
          margin-bottom: 0;

          p {
            margin-top: 5px;
          }

          .card.grey {
            padding: 5px 10px 10px 10px;
            margin: 5px 10px;
            min-width: 80px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            &:nth-child(2) a.btn-small {
              background-color: #3cf;
            }

            button.btn-small {
              margin-top: 8px;
            }

          i {
              font-size: 21px;
            }

            img {
              width: 26px;
              aspect-ratio: auto;
              margin-top: 3px;
            }
          }
        }
      }

      .telephoneDiv {
        display: flex;
        justify-content: center;

        div {
          margin: 0 5px;
        }
      }
    }
  }
}

.preloaderSendMail {
  margin-top: 25px;
}

.blured_data {
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.table_contact {
  tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }

  .btn {
    text-transform: none;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  td{
    &.td_buttons_contact_phone {
      padding-top: 10px !important;
      padding-bottom: 10px !important;

      & a {
        margin: 0;
      }
    }
  }
}

.responsive-phone-num {
  margin-top: 20px;
}

#noTeam {
  font-style: italic;
}

.page-footer{
  padding-top: 0;
  background-color: $dark_blue;
  position: absolute;
  bottom: 0;
  width: 100%;

  a {
    color: #f5f5f5;

    &:hover {
      color: #3691f8;
    }
  }
}

.missingTitle {
  font-size: 20px;
}

.cardTeamsWithoutDiv {
  padding-top: 5px;
  padding-bottom: 5px;
  border: red solid 2px;
}

.rainbow {
  background: linear-gradient(124deg, #1cb137, #075d17, #1cb137, #075d17,
          #1cb137, #075d17);
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 8s ease infinite;
  -z-animation: rainbow 8s ease infinite;
  -o-animation: rainbow 8s ease infinite;
  animation: rainbow 8s ease infinite;
}

.avatar {
  object-fit:cover;
  border-radius: 50%;
}

#span_passwords_matching, #span_passwords_not_matching {
  margin-top: 0;
  margin-bottom: 0;
  height: 22px;
}

.fftt_api_manager {
  h4 {
    margin-top: 0;
  }

  .title_journee h3 {
    margin-bottom: 15px;
    margin-top: 15px;
  }
}

.progress {
  background-color: #135299;
}

.progress .indeterminate {
  background-color: #63aaff;
}

table.classementPoule {
  td {
    padding: 14px 5px;
  }
}

@-webkit-keyframes rainbow {
  0%{background-position:0 82%}
  50%{background-position:100% 19%}
  100%{background-position:0 82%}
}
@-moz-keyframes rainbow {
  0%{background-position:0 82%}
  50%{background-position:100% 19%}
  100%{background-position:0 82%}
}
@-o-keyframes rainbow {
  0%{background-position:0 82%}
  50%{background-position:100% 19%}
  100%{background-position:0 82%}
}
@keyframes rainbow {
  0%{background-position:0 82%}
  50%{background-position:100% 19%}
  100%{background-position:0 82%}
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(-360deg);
  }
}

li {
  .collapsible-header {
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    &.collapsible-header-sidenav{
      background-color: $darken_blue !important;
    }

    .caret {
      height: 29px;
      margin-top: 8px;
      margin-right: 0;
      transition: transform 0.2s ease;
    }

    .chip {
      margin: 0;
      &:not(.chip-sidenav) {
        font-size: 14px;
      }
    }
  }
  &.active {
    .collapsible-header {
      .caret {
        &:not(.caret-sidenav) {
          transform-origin: 0.6em 0.5em;
        }
        transform: rotate(-180deg);
      }
    }
  }
}

.brand-logo {
  left: 50% !important;
}

.backoffice-table{
  th{
    padding-left: 0;
    padding-right: 0;
  }
}

.rotating-icon {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.noDivisionPill {
  background-color: rgba(241,35,35, 0.2);
  border-radius: 5px;
  padding: 5px;

  &.noDivisionPillHeader {
    margin-left: 6px;
  }
}

.markdown_content {
  li::before {
    padding-left: 8px;
    content: "- ";
  }
}

.avatarSectionDelete {
  width: 120px;
  height: 120px;
  position: relative;
  margin: 20px auto 0;

  a {
    margin-top: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $scroll_blue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $scroll_dark_blue;
}

.dark_blue {
  color: $scroll_blue;
}

button.btn_renouveler_certif_mobile {
  display: none;
}

.hide-on-med-and-up.adversaireLine {
  h5.advUndefined {
    margin-top: 0;
    margin-bottom: 10px;
  }

  h5.pastille {
    margin-top: 0; margin-bottom: 10px;
  }

  div.advDefined {
    & div {
      padding-left: 0;
      padding-right: 6px;
      display: inline-block;
      vertical-align: middle;

      &:first-child h5 {
        margin-top: 8px
      }
    }

    i.material-icons {
      font-size: 1.5rem;
    }
  }
}

table.table-last-compos {
  td {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  tr {
    padding-left: 0;
    padding-right: 0;
  }
}

.virtualPointsCard {
  padding: 6px 0;
  margin-bottom: 10px;
  font-size: 14px;

  p {
    margin-top: -1px;
    margin-bottom: 2px;

    span:last-child {
      padding: 0;
    }

    &.error {
      margin: 5.5px 0;
    }
  }
}

// On re-stylise les balises mal interprétées
#aide_page {
  h1 {
    margin-top: 0;
  }

  h1, h2, h4 {
    font-family: Lobster, cursive;
  }

  h4 {
    font-size: 2rem;
  }

  strong {
    font-weight: bold;
  }

  ul > li {
    margin-top: 5px;
    margin-bottom: 5px;

    & > ul > li:before {
      content: "▶ ";
      font-size: 80%;
      padding-left: 15px;
    }
  }

  .link_jumper {
    cursor: pointer;
  }
}

.brulages table{
  & thead tr h6 {
    font-size: 1.25rem;
  }

  &:not(:first-of-type) {
    & thead tr h6 {
      margin-top: 15px;
    }
  }
}

#title_points_virtuels {
  vertical-align: sub
}

.lien_court {
  display: none;
}

.merged_cards.up.leftOne {
  margin-top: 10px;
}

.divProfileCompletionCol {
  margin-top: 0 !important;

  .divProfileCompletion {
    background-color: #ffebd7;
    border: 1px solid #fc780b;
    border-radius: 10px;

    .progress {
      margin-bottom: 7px;
    }

    p {
      font-size: 15px;
      margin-top: 6px;
      margin-bottom: 6px;
    }

    ul {
      margin-top: 0;
      margin-bottom: 6px;
    }

    .champsManquants {
      p, li {
        font-size: 13px;
        margin: 0;
      }
    }
  }
}

#noPeopleToImport {
  margin-top: 10px;
}

#importButtons {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  #submitImportButton {
    margin-left: 5px;
  }
}

span.field-icon {
  float: right;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  z-index: 2;
}

.christmas_code {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  margin: 6px 6px !important;
  font-weight: bold;
  background-color: red;

  &.diamant {
    background-color: #b9f2ff !important;
    color: black;
  }

  &.saphir {
    background-color: #0131b4 !important;
    color: white;
  }

  &.rubis {
    background-color: #e0115f !important;
    color: black;
  }
}

.preloader-wrapper.tiny {
  width: 26.24px;
  height: 26.24px;
}

.editor_variable_highlighted {
  background-color: #a7d6ff;
  border-radius: 8px;
  padding: 2px 2px 3px 2px;
}

.preloader_personnal_virtual_rank {
  canvas {
    position: relative;
    left: 5px;
    top: 7px;
  }
}

.buttonGroup button {
  height: 20px;
  line-height: 20px;
  border-radius: 0;
  font-size: 80%;
  padding: 0 7px;
  margin: 10px 0;
  background-color: #2196f3;

  &:hover {
    background-color: #64b5f6 !important;
  }

  &.firstBtnVirtualPoints {
    border-radius: 8px 0 0 8px;

    &.withMiddle {
      right: -3px !important;
    }
  }

  &.lastBtnVirtualPoints{
    left: -3px !important;
    border-radius: 0 8px 8px 0;
  }
}

a.reload_ranking {
  position: absolute;
  right: 8px;
  top: 8px;
}

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  width: 180px;
  height: 70px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flip-box-back {
  transform: rotateY(180deg);
}


.navbar-general{
  .left_items .dot {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 6px;
    height: 6px;
  }

  .btn-floating {
    top: 13px;
    right: 23px;

    i {
      position: absolute;
      height: 0;
      line-height: 40px;
    }
  }
}

@media screen and (max-width: 1466px) {
  .right_items_navbar_general{
    .right_items_navbar {
      display: none;
    }
  }

  .sidenav-trigger.sidenav-general {
    display: block !important;
  }
}

@media screen and (max-width: 1449px) {
  .right_items_navbar_backoffice{
    .right_items_navbar {
      display: none;
    }
  }

  .sidenav-trigger.sidenav-backoffice {
    display: block !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1357px) {
  .preloader_personnal_virtual_rank {
    padding-top: 5px;
  }
}

@media screen and (min-width: 992px) {
  table.recapitulatifDispos {
    & thead tr {
      & th:not(:first-of-type) {
        width: 60px;
      }

      h6 {
        font-size: 1.25rem;
      }
    }

    &:not(:first-of-type) {
      margin-top: 20px;
    }
  }
}

@media screen and (min-width: 1285px) {
  .exempt {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media screen and (min-width: 993px) and (max-width: 1171px) {
  a#modalAlertNoDispoSetpcStyle {
    margin-top: 0;
  }
}

@media screen and (max-width: 1167px) {
  .navbar-general{
    .left_items {
      display: none;
    }

    .esftt_logo {
      display: block;
    }
  }
}

@media screen and (min-width: 1168px) {
  .navbar-general{
    .esftt_logo {
      display: none;
    }
  }
}

@media screen and (max-width: 1128px) {
  .navbar-backoffice{
    .left_items {
      display: none;
    }

    .esftt_logo {
      display: block;
    }
  }
}

@media screen and (max-width: 1090px) {
  #title_points_virtuels {
    font-size: 15px;
    margin-left: 10px;
  }
}

// md grid
@media screen and (max-width: 992px) {
  .th_mobile_pts_off {
    padding-top: 28px;

    &.isCritFed {
      padding-top: 18px;
    }
  }

  table#joueursIssued tbody tr td.isCritFed:last-child {
    min-height: 56px;
  }

  .th_mobile_nom {
    padding-top: 26px;
  }

  th.th_picture_compet_table {
    height: 116px;
  }

  button.btn_renouveler_certif_mobile {
    display: inline-block;
  }

  button.btn_renouveler_certif_pc {
    display: none;
  }

  td.td_picture_compet {
    padding-top: 0;
    padding-bottom: 0;
    height: 55px;
  }

  .setDispoCard {
    margin-bottom: 20px;
  }

  .virtualPointsCard {
    margin-top: 10px;

    p {
      margin-top: -2px;
      margin-bottom: 4px;
    }
  }

  .brulageCard {
    margin-top: 10px;
  }

  table.composition-equipe tbody td {
    padding: 6px 5px;
  }

  .responsive-phone-num {
    margin-top: 0;
  }

  .backoffice_disponibilites {
    & table.table-backoffice-disponibilites tbody td {
      padding: 5px;
    }

    & .row {
      width: min-content;
    }
  }

  h6.recapitulatifDispos {
    font-size: 1.35rem;

    &:not(:first-of-type) {
      margin-top: 20px;
    }
  }

  table.recapitulatifDispos {
    & tbody td {
      height: 51px;
    }
  }

  .col_infos_licence {
    margin-top: 5px !important;
  }

  .merged_cards {
    -webkit-box-shadow: none;
    &.up {
      border-radius: 10px 10px 0 0 !important;
    }

    &.bottom {
      border-radius: 0 0 10px 10px !important;
      margin-top: 0 !important;

      table thead th h5 {
        margin-top: 0;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .modal.modal-small {
    width: 96% !important;
  }
}

@media screen and (max-width: 720px) {
  .modal.modal-medium {
    width: 96% !important;
  }
}

@media screen and (max-width: 601px) {
  .modal {
    margin-top: 0 !important;
    min-height: 98% !important;
    top: 1% !important;

    &.modal-medium {
      top: 4% !important;
      min-height: 89% !important;
    }

    &.modal.modal-small {
      top: 6% !important;
      min-height: 89% !important;
    }
  }

  .navbar-general .btn-floating {
    top: 9px;

    i {
      position: absolute;
      height: 0;
      line-height: 40px;
    }
  }

  th.th_picture_compet_table{
    height: 96px;
  }

  td.td_picture_compet {
    padding-top: 0;
    padding-bottom: 0;
    height: 40px;

    & img.picture_compet{
      width: 40px;
      height: 40px;
    }
  }

  #settings-form {
    margin-left: 10px;
  }

  #ckeditor-render {
    figure.table {
      margin: 0 !important;
    }
  }
}

@media screen and (max-width: 550px) {
  #bo_mail_certif_medic_perim {
    margin-top: 5px;
  }
}

@media screen and (max-width: 540px) {
  .lien_long {
    display: none;
  }

  .lien_court {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  #settings-form {
    margin-left: 15px;
  }
}

@media screen and (max-width: 460px) {
  table.table-last-compos {
    font-size: 85%;

    td {
      padding: 10px 0;
    }
  }
}

@media screen and (max-width: 411px) {
  table.rankingVirtualPoints td {
    .chip {
      padding: 0;
      img {
        display: none;
      }
    }

    &.td-chip {
      padding-left: 0;
      padding-right: 0;
      display: none;
    }

    &.td-name {
      display: table-cell;
      max-width: 20px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &.pl5 {
        padding-left: 5px;
      }
    }

    &.points-td {
      min-width: 82px;
      max-width: 82px;
      width: 82px;
    }

    &.progression-td {
      width: 48px;
      padding-left: 0;

      &:nth-child(1) {
        width: 39px;
      }
    }
  }
}

@media screen and (max-width: 381px) {
  .setDispoCard {
    h5.unsetTitle {
      font-size: 1.45em;
    }
  }
}

@media screen and (min-width: 351px) and (max-width: 430px) {
  a.reload_ranking {
    top: 6px;
    right: 6px;
  }
}

@media screen and (max-width: 350px) {
  a.reload_ranking {
    display: none;
  }
}

@media screen and (max-width: 344px) {
  .virtualRankButtons  {
    font-size: 13px;
  }
}

@media screen and (max-width: 330px) {
  #collapsible_selectionnable_plus_1 {
    font-size: 18px;
  }

  #importButtons {
    display: block;

    #submitImportButton {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 325px) {
  .virtualRankButtons  {
    flex-direction: column;

    .buttonGroup:first-child button {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 324px) {
  .noDivisionPillHeader {
    display: none;
  }

  .noDivisionPillBody {
    display: block;
  }
}

@media screen and (max-width: 307px) {
  #collapsible_selectionnable_plus_1 {
    font-size: 16px;
  }
}

@media screen and (max-width: 283px) {
  #collapsible_selectionnable_plus_1 {
    font-size: 14px;
  }
}

@media screen and (max-width: 260px) {
  #collapsible_selectionnable_plus_1 {
    font-size: 12px;
  }
}

@media screen and (max-width: 237px) {
  #collapsible_selectionnable_plus_1 {
    font-size: 10px;
  }
}