@charset "UTF-8";
[type=checkbox].filled-in:checked + span:not(.lever):after {
  background-color: #2196f3;
  border-color: #2196f3;
}

html {
  font-family: "Lato", sans-serif;
  background: linear-gradient(135deg, #1174b8 1%, #001317 100%) fixed;
  background-size: cover;
  height: 100%;
  display: block;
}

body {
  height: 100%;
  margin: 0;
  position: relative;
}

html, body {
  scrollbar-color: #1b5fac white !important;
  scrollbar-width: thin;
}

#wrap {
  min-height: 100%;
  position: relative;
}

#main {
  position: relative;
  padding-bottom: 110px;
}

.card-panel {
  background-color: white;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-top: 20px;
}
.card-panel.bottom_0 {
  padding-top: 10px;
  padding-bottom: 6px;
}
.card-panel.backoffice-panel {
  padding: 10px;
}
.card-panel.account-card .col {
  margin-top: 20px;
}
.card-panel.account-card .col.account_roles {
  margin-top: 5px;
}
.card-panel.account-card .col.account_roles .new.badge {
  padding: 4px 6px;
  float: none;
  line-height: 24px;
}

.noWrap {
  white-space: nowrap;
}

.btn {
  margin-top: 15px;
}

.btn_form {
  margin: 0;
}

.h4_form {
  margin-top: 0;
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
}

.dispos {
  border-radius: 10px;
  background-color: white;
  float: right;
  margin-top: 10px;
  font-size: 95%;
  padding: 0;
  width: 100%;
}
.dispos a.modalAlertNoDispoSet {
  margin-top: 10px;
  margin-bottom: 10px;
}
.dispos tr:first-child th {
  padding-top: 0;
  padding-bottom: 0;
}
.dispos tbody tr > td:first-child {
  padding-right: 0;
  padding-left: 3%;
}
.dispos tbody tr > td:last-child {
  padding-left: 0;
}
.dispos .legends .dot.dot4 {
  margin-top: 8px;
}

.dispos.merged_cards .row.bottom_0, .brulageCard.merged_cards .row.bottom_0 {
  padding: 0;
  text-align: left;
}
.dispos.merged_cards .row.bottom_0 .col, .brulageCard.merged_cards .row.bottom_0 .col {
  padding: 0;
}
.dispos.merged_cards .row.bottom_0 .col .s10, .brulageCard.merged_cards .row.bottom_0 .col .s10 {
  padding-right: 1px;
}
.dispos.merged_cards .row.bottom_0 .col .s2, .brulageCard.merged_cards .row.bottom_0 .col .s2 {
  left: 8px;
}

ul.collection {
  margin: 0 auto;
  width: fit-content;
  border-color: #1174b8;
  border-radius: 4px;
}
ul.collection .collection-item {
  border-bottom-color: #1174b8;
}

.dispos.merged_cards h6 {
  font-size: 1.25rem;
}
.dispos.merged_cards table thead tr h6 {
  font-size: 1.25rem;
}
.dispos.merged_cards table:not(:first-of-type) thead tr h6 {
  margin-top: 15px;
}
.dispos.merged_cards table tbody tr td span {
  margin-left: 2%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dispos.merged_cards table tbody tr td .col.s1 {
  padding-left: 0;
  padding-right: 0;
}
.dispos.merged_cards .row.bottom_0 {
  margin-left: 0;
  margin-right: 0;
}
.dispos.merged_cards .row.bottom_0:nth-of-type(2) {
  margin-bottom: 4px;
}
.dispos.merged_cards .row.bottom_0:first-of-type {
  margin-top: 10px;
}
.dispos.merged_cards .row.bottom_0:first-of-type .col.s2 {
  margin-top: 2px;
}

div.scrollableTable {
  overflow-x: scroll;
  width: 100%;
  padding: 0;
  height: auto;
  margin-top: 10px;
}
div.scrollableTable.brulages .bottom_0 {
  padding: 0;
  margin-left: 0;
  width: 100%;
}
div.scrollableTable tr:nth-child(odd) > td {
  background-color: #f2f2f2;
}
div.scrollableTable tr:nth-child(even) > td {
  background-color: white;
}
div.scrollableTable td:not(:first-child) {
  width: 35.6px;
}
div.scrollableTable td:first-child {
  min-width: 170px;
}
div.scrollableTable thead tr > th {
  position: sticky;
  padding: 0 5px;
  z-index: 2;
  background-color: white;
}
div.scrollableTable thead tr > :first-child {
  z-index: 3;
  left: 0;
  top: 0;
}
div.scrollableTable tbody tr > :first-child {
  position: sticky;
  z-index: 1;
  left: 0;
  padding-left: 8px;
}
.complete_compos {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 100%;
  margin-top: 10px;
}
.complete_compos h5 {
  font-size: 1.5rem;
  margin-top: 8px;
  margin-bottom: 8px;
}

thead th, h5, h4, h3, td.rank, .flash, .divisionBubble, .lobster {
  font-family: Lobster, cursive;
}

.lobster {
  font-size: 20px;
}

.flash {
  font-size: 24px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

i.iconPlace {
  font-size: 30px;
  color: #012242;
}
.btn-small i.iconPlace {
  font-size: 25px;
  color: white;
}

.line-buttons-manage-team {
  margin-bottom: 10px;
  margin-top: 5px;
}

.setDispoCard {
  padding-top: 10px;
  padding-bottom: 10px;
}
.setDispoCard h5.unsetTitle {
  margin-top: 0;
  margin-bottom: 10px;
}

.nav-extended, .sidenav, .title_journee {
  background: #012242;
}

#menu_dropdown_contact {
  height: auto !important;
}

#menu_dropdown_settings, #menu_dropdown_champs, #menu_dropdown_contact, #collapsible-sidenav {
  width: auto !important;
  background-color: #032d56;
}
#menu_dropdown_settings li, #menu_dropdown_champs li, #menu_dropdown_contact li, #collapsible-sidenav li {
  border-radius: 5px;
  margin: 2px 0 2px 2px;
  white-space: nowrap;
  width: 98% !important;
}
#menu_dropdown_settings li:hover, #menu_dropdown_champs li:hover, #menu_dropdown_contact li:hover, #collapsible-sidenav li:hover {
  background-color: #1565c0;
}

ul.sidenav ul.collapsible-accordion .collapsible-body ul {
  margin: 2px 0 2px 0;
}
ul.sidenav ul.collapsible-accordion .collapsible-body ul li.li_in_line {
  margin: 3px 4px 3px 4px !important;
}

#menu_dropdown_settings, #menu_dropdown_champs, #menu_dropdown_contact {
  padding: 2px 2px;
  border-radius: 5px;
}

#collapsible-sidenav {
  padding: 0 !important;
  border-radius: 5px;
}

.nav-extended {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 120%;
}
.nav-extended .journee_passee {
  margin-left: 4px;
}

.title_journee {
  padding: 6px;
}
.title_journee h4 {
  font-size: 2.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

li, p, .btn, label, nav ul a, .card-panel .bottom_0, .tab a {
  font-size: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-wrapper li a {
  font-size: 17px;
}

.nav-wrapper li a, .sidenav li a, .poule, .card-panel h5, .complete_compos h5, h6, .lobster_2 {
  font-family: "Lobster Two", cursive;
}

.sidenav li a, .chip-sidenav {
  font-size: 17px;
}

.chip {
  font-size: 16px;
  background-color: transparent;
  height: 40px;
  line-height: 40px;
  color: black;
}
.chip img {
  height: 40px;
  width: 40px;
  object-fit: cover;
}
.chip.customMessage {
  height: 30px;
  color: white;
  font-size: 14px;
  line-height: 30px;
  background-color: #1565c0;
}
.chip.customMessage img {
  background-color: white;
  height: 30px;
  width: 30px;
}

#divSelectedContacts {
  margin-bottom: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
}
#divSelectedContacts button {
  margin-top: 4px;
  margin-bottom: 4px;
}
#divSelectedContacts i#removeAllCustomContacts {
  position: absolute;
  top: 7px;
  right: 9px;
  cursor: pointer;
}
#divSelectedContacts h6 {
  margin-top: 0;
}

button.backToCheckboxes {
  position: absolute;
  top: 8px;
  left: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.cardJoueursEditJournee {
  margin-top: 20px;
  padding: 10px 0 6px;
}
.cardJoueursEditJournee.joueurSelectionnablesBrulage.dix_px {
  margin-top: 10px;
}
.cardJoueursEditJournee h5 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.cardJoueursEditJournee td {
  padding-left: 10px;
  font-size: 90%;
}
.cardJoueursEditJournee th {
  padding: 0 5px;
}

.chip-menu {
  vertical-align: middle !important;
  padding-right: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0;
}
.chip-menu img {
  height: 35px;
  width: 35px;
  object-fit: cover;
  background-color: white;
}

.chip-mobile img {
  margin-top: 6px !important;
  margin-right: 25px !important;
}

i {
  vertical-align: bottom;
}
i.campaign {
  font-size: 1.5rem;
}

.divisionBubble {
  background: #012242;
  text-align: center;
  border-radius: 50%;
  padding: 8px 10px;
}

.whatsapp_btn {
  background-color: #25d366;
  padding: 0;
}
.whatsapp_btn img {
  width: 34px;
  height: 26px;
  padding: 8px 8px 0 8px;
}

#slide-out .collapsible .li_in_line {
  background-color: #012242;
}
#slide-out .collapsible .li_in_line a:hover {
  background-color: #1565c0;
}

.li_in_line {
  border-radius: 5px;
  padding-left: 0;
  padding-right: 0;
}
.li_in_line:hover {
  background-color: #1565c0;
  border-radius: 5px;
}
.li_in_line.deconnexion > a:hover {
  background-color: #f15454;
  border-radius: 5px;
}
.nav-wrapper .li_in_line {
  margin-left: 2px;
  margin-right: 2px;
}
.sidenav .li_in_line {
  margin: 4px;
}

.header_compo, .form_div_list div:last-child, .bottom_0 {
  margin-bottom: 0;
}

p.lobster {
  margin-top: 0;
}

.btn_gestion {
  margin-top: 5px;
}

.rank.rank_blue, .light_blue {
  color: #1565c0;
}

button.renew_certif_table {
  width: 27px !important;
  height: 27px !important;
}
button.renew_certif_table i {
  font-size: 14px;
  top: -2px;
  position: relative;
}

.divider_custom {
  height: 0.15em;
  background: #1565c0;
}

#ckeditor-render {
  word-wrap: break-word;
  hyphens: auto;
  padding: 10px;
}
#ckeditor-render figure.table {
  width: 100%;
  overflow-x: scroll;
  margin-left: 0;
}
#ckeditor-render li {
  padding-left: 0;
}

.collapsible {
  border: none;
  box-shadow: none !important;
}
.collapsible .collapsible-body {
  border: none;
  padding: 0 5px;
}
.collapsible.backoffice_disponibilites {
  margin-top: 6px;
  margin-bottom: 6px;
}
.collapsible.backoffice_disponibilites button.btn {
  margin-top: 0;
}
.collapsible.backoffice_archives img {
  opacity: 60%;
}
.collapsible.backoffice_disponibilites, .collapsible.backoffice_archives {
  margin-top: 6px;
  margin-bottom: 6px;
}
.collapsible.backoffice_disponibilites .collapsible-header, .collapsible.backoffice_archives .collapsible-header {
  padding-top: 6px;
  padding-bottom: 6px;
}
.collapsible.backoffice_disponibilites .collapsible-header .chip, .collapsible.backoffice_archives .collapsible-header .chip {
  margin: 0;
}
.collapsible.backoffice_disponibilites .collapsible-body, .collapsible.backoffice_archives .collapsible-body {
  background-color: white;
}
.collapsible.backoffice_disponibilites .collapsible-body .row, .collapsible.backoffice_archives .collapsible-body .row {
  margin: 0 10px 0 0;
}
.collapsible.backoffice_disponibilites .collapsible-body .row:first-child, .collapsible.backoffice_archives .collapsible-body .row:first-child {
  margin-top: 0;
}

.tabs .tab a {
  color: black;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: rgba(21, 101, 192, 0.2);
}
.tabs .tab a:hover {
  color: black;
}
.tabs .tab a.active {
  background-color: rgba(128, 128, 128, 0.5);
  color: #000;
}
.tabs .indicator {
  background-color: black;
}

.poule {
  font-family: Lobster Two, cursive;
  font-size: 15px !important;
}
.poule a {
  height: 25px;
  line-height: 25px;
  text-transform: none;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 2px;
  margin-bottom: 0;
  font-size: 15px !important;
}

.nav-wrapper li:first-child {
  margin-left: 0.6rem;
}
.nav-wrapper li:last-child {
  margin-right: 0.6rem;
}

.dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  display: inline-block;
}

.pastilleDispos {
  font-size: 100%;
  max-width: 70px;
  margin-left: 8px !important;
}

.dot1 {
  background-color: #2db009;
}

.dot2 {
  background-color: red;
}

.dot3 {
  background-color: #918c8c;
}

.dot4 {
  background-color: #2196F3;
}

.first_sidenav {
  margin-top: 5px;
}
.first_sidenav .journee.li_in_line a {
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}
.first_sidenav .journee.li_in_line a i {
  margin-right: 0;
}
.first_sidenav .journee.li_in_line a .dot {
  position: relative;
  top: 45%;
}
.first_sidenav .collapsible-header {
  border-radius: 5px;
}

.titre_edit_journée {
  margin-bottom: 40px;
}

li.error {
  color: red;
}

.switch label {
  color: black;
}
.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #1174b8;
}
.switch label input[type=checkbox]:checked + .lever {
  background-color: rgba(17, 116, 184, 0.5);
}
.switch label input[type=checkbox] + .lever:after {
  background-color: #1174b8;
}
.switch label input[type=checkbox] + .lever {
  background-color: rgba(17, 116, 184, 0.5);
}

.form_div_list .dropdown-content li:first-child > span {
  color: gray;
  font-style: italic;
}

.dropdown-content li > span, .dropdown-content li > div > span, .dropdown-content li > span > label {
  color: #1a7cbf;
}

form h5 {
  font-size: 1.3rem;
}

.issue .row {
  margin-bottom: 0;
}

.uppercase {
  text-transform: uppercase;
}

.titlecase .select-dropdown.dropdown-trigger, .titlecase .dropdown-content.select-dropdown {
  text-transform: capitalize;
}

ul.dropdown-content.select-dropdown li.optgroup {
  min-height: 30px;
}
ul.dropdown-content.select-dropdown li.optgroup:hover {
  cursor: default;
  background-color: white;
}
ul.dropdown-content.select-dropdown li.optgroup span {
  padding-top: 4px;
  padding-bottom: 4px;
  color: black;
  font-weight: bold;
}

.input_file .file-field.input-field {
  margin-left: 20%;
  margin-right: 20%;
}

.pastille {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 30px;
  color: white;
}
.pastille.reset, .pastille.centered {
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  border-radius: 15px;
}

.virtualRankButtons {
  display: flex;
  justify-content: space-evenly;
  padding-top: 4px;
}
.virtualRankButtons .buttonGroup button {
  height: 20px;
  line-height: 20px;
  border-radius: 0;
  font-size: 80%;
  padding: 0 7px;
  margin: 5px 0;
  background-color: #2196f3;
}
.virtualRankButtons .buttonGroup button:hover {
  background-color: #64b5f6 !important;
}
.virtualRankButtons .buttonGroup button.firstBtnVirtualPoints {
  border-radius: 8px 0 0 8px;
}
.virtualRankButtons .buttonGroup button.firstBtnVirtualPoints.withMiddle {
  right: -3px !important;
}
.virtualRankButtons .buttonGroup button.lastBtnVirtualPoints {
  left: -3px !important;
  border-radius: 0 8px 8px 0;
}

.virtualPointsDiv {
  display: flex;
  justify-content: space-between;
}
.virtualPointsDiv.from-account {
  justify-content: space-evenly;
}
.virtualPointsDiv h6 {
  margin-top: 0;
  margin-bottom: 0;
}
.virtualPointsDiv span {
  width: 15%;
}

table.rankingVirtualPoints {
  font-size: 13px !important;
}
table.rankingVirtualPoints:not(.rankingVirtualPointsEquipes) {
  margin-top: 8px;
}
table.rankingVirtualPoints tr.tr-classement {
  padding: 0;
}
table.rankingVirtualPoints tr.tr-classement.classement td {
  padding: 1px;
  border-radius: 5px 0;
  background-color: #0c3a69;
}
table.rankingVirtualPoints tr.tr-classement.classement td p {
  margin: 0;
  width: 60px;
  text-align: center;
}
table.rankingVirtualPoints tr.tr-classement.empty {
  height: 0;
}
table.rankingVirtualPoints tr.tr-classement.margin {
  background-color: white;
  height: 12px;
}
table.rankingVirtualPoints td i.material-icons {
  width: 18px;
}
table.rankingVirtualPoints td:not(.td-chip) {
  padding-left: 0;
  padding-right: 0;
}
table.rankingVirtualPoints td.td-name {
  display: none;
}
table.rankingVirtualPoints td.progression-classement-td {
  width: 34px;
  text-align: center;
}
table.rankingVirtualPoints td.nbJoueurs-td {
  width: 120px;
}
table.rankingVirtualPoints td.nbJoueurs-td span {
  font-style: italic;
}
table.rankingVirtualPoints td i {
  vertical-align: middle;
  font-size: 20px;
}
table.rankingVirtualPoints td .chip {
  padding-right: 0;
  margin-bottom: 0;
  margin-left: 4px;
}
table.rankingVirtualPoints td .chip .nom {
  font-size: 13px !important;
}

#entite-equipe {
  margin-left: 10px;
  margin-right: 10px;
}
#entite-equipe table.rankingVirtualPoints td.td-equipe {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 20px;
}
#entite-equipe table.rankingVirtualPoints td.td-equipe span.nom {
  margin-left: 10px;
}
#entite-equipe table.rankingVirtualPoints td.progression-td {
  width: 75px;
}

.tooltipped {
  cursor: pointer;
}

.gold-color {
  color: #ecc70a;
}

.silver-color {
  color: #C0C0C0;
}

.bronze-color {
  color: #CD7F32;
}

.erreurXHR {
  width: fit-content;
  margin: 0 auto;
}

.modal {
  width: 92% !important;
  height: 87% !important;
  min-height: 87% !important;
  max-height: 100% !important;
  top: 7% !important;
}
.modal .modal-content {
  max-width: 100% !important;
}
.modal .modal-content h5 {
  margin-bottom: 10px;
}
.modal .modal-content .card {
  border-radius: 10px;
  width: auto;
  margin: 5px 15px;
}
.modal .modal-content .card a {
  margin-top: 8px;
}
.modal .modal-content > .row {
  margin: 0 !important;
}
.modal .modal-content > .row .row {
  margin: 10px 0 12px 0 !important;
}
.modal#histoMatches .modal-content, .modal.classementResultatsPoule .modal-content {
  padding: 2px;
}
.modal#histoMatches .modal-content h6, .modal.classementResultatsPoule .modal-content h6 {
  margin-top: 15px;
}
.modal#histoMatches .modal-content .histoMatchesContentPoule, .modal.classementResultatsPoule .modal-content .histoMatchesContentPoule {
  margin-top: 40px;
}
.modal#histoMatches .modal-content #histoMatchesContent, .modal.classementResultatsPoule .modal-content #histoMatchesContent {
  margin-top: 18px;
}
.modal#histoMatches .modal-content #histoMatchesContent .rencontre, .modal#histoMatches .modal-content .histoMatchesContentPoule .rencontre, .modal.classementResultatsPoule .modal-content #histoMatchesContent .rencontre, .modal.classementResultatsPoule .modal-content .histoMatchesContentPoule .rencontre {
  padding: 1px;
  width: 90%;
  margin: 15px auto 20px auto;
}
.modal#histoMatches .modal-content #histoMatchesContent .rencontre .trending_icon, .modal#histoMatches .modal-content .histoMatchesContentPoule .rencontre .trending_icon, .modal.classementResultatsPoule .modal-content #histoMatchesContent .rencontre .trending_icon, .modal.classementResultatsPoule .modal-content .histoMatchesContentPoule .rencontre .trending_icon {
  margin: 5px auto;
  text-align: end;
  vertical-align: middle;
}
.modal#histoMatches .modal-content #histoMatchesContent .rencontre p, .modal#histoMatches .modal-content .histoMatchesContentPoule .rencontre p, .modal.classementResultatsPoule .modal-content #histoMatchesContent .rencontre p, .modal.classementResultatsPoule .modal-content .histoMatchesContentPoule .rencontre p {
  margin: 5px auto;
}
.modal#histoMatches .modal-content #histoMatchesContent .rencontre p.date, .modal#histoMatches .modal-content .histoMatchesContentPoule .rencontre p.date, .modal.classementResultatsPoule .modal-content #histoMatchesContent .rencontre p.date, .modal.classementResultatsPoule .modal-content .histoMatchesContentPoule .rencontre p.date {
  position: absolute;
  top: -5px;
  left: 0;
  border-radius: 0 0 5px 0;
  background-color: #1d5db9;
}
.modal#histoMatches .modal-content #histoMatchesContent .rencontre p.evolution, .modal#histoMatches .modal-content .histoMatchesContentPoule .rencontre p.evolution, .modal.classementResultatsPoule .modal-content #histoMatchesContent .rencontre p.evolution, .modal.classementResultatsPoule .modal-content .histoMatchesContentPoule .rencontre p.evolution {
  position: absolute;
  top: 1px;
  right: 0;
  border-radius: 0 0 0 5px;
}
.modal#histoMatches .modal-content #histoMatchesContent .rencontre p.epreuve, .modal#histoMatches .modal-content .histoMatchesContentPoule .rencontre p.epreuve, .modal.classementResultatsPoule .modal-content #histoMatchesContent .rencontre p.epreuve, .modal.classementResultatsPoule .modal-content .histoMatchesContentPoule .rencontre p.epreuve {
  padding-top: 4px;
  margin-top: 30px;
  width: 95%;
  text-align: center;
  font-size: 12px;
}
.modal#histoMatches .modal-content #histoMatchesContent .rencontre p.nomAdversaire, .modal#histoMatches .modal-content .histoMatchesContentPoule .rencontre p.nomAdversaire, .modal.classementResultatsPoule .modal-content #histoMatchesContent .rencontre p.nomAdversaire, .modal.classementResultatsPoule .modal-content .histoMatchesContentPoule .rencontre p.nomAdversaire {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.modal#histoMatches .modal-content #histoMatchesContent .rencontre .row, .modal#histoMatches .modal-content .histoMatchesContentPoule .rencontre .row, .modal.classementResultatsPoule .modal-content #histoMatchesContent .rencontre .row, .modal.classementResultatsPoule .modal-content .histoMatchesContentPoule .rencontre .row {
  margin: 0;
}
.modal#histoMatches .modal-content #histoMatchesContent .rencontre .row .col, .modal#histoMatches .modal-content .histoMatchesContentPoule .rencontre .row .col, .modal.classementResultatsPoule .modal-content #histoMatchesContent .rencontre .row .col, .modal.classementResultatsPoule .modal-content .histoMatchesContentPoule .rencontre .row .col {
  padding: 0;
}
.modal#histoMatches .modal-content #histoMatchesContent .rencontre .row .col:not(.trending_icon), .modal#histoMatches .modal-content .histoMatchesContentPoule .rencontre .row .col:not(.trending_icon), .modal.classementResultatsPoule .modal-content #histoMatchesContent .rencontre .row .col:not(.trending_icon), .modal.classementResultatsPoule .modal-content .histoMatchesContentPoule .rencontre .row .col:not(.trending_icon) {
  margin: 0;
}
.modal#histoMatches .modal-content #histoMatchesContent .rencontre .row .col p.ta-end, .modal#histoMatches .modal-content .histoMatchesContentPoule .rencontre .row .col p.ta-end, .modal.classementResultatsPoule .modal-content #histoMatchesContent .rencontre .row .col p.ta-end, .modal.classementResultatsPoule .modal-content .histoMatchesContentPoule .rencontre .row .col p.ta-end {
  text-align: end;
}
.modal#histoMatches .modal-content #histoMatchesContent .rencontre .finalPointsWon p, .modal#histoMatches .modal-content .histoMatchesContentPoule .rencontre .finalPointsWon p, .modal.classementResultatsPoule .modal-content #histoMatchesContent .rencontre .finalPointsWon p, .modal.classementResultatsPoule .modal-content .histoMatchesContentPoule .rencontre .finalPointsWon p {
  margin-top: 7px;
}
.modal#histoMatches .modal-content #histoMatchesContent .rencontre.journeePoule, .modal#histoMatches .modal-content .histoMatchesContentPoule .rencontre.journeePoule, .modal.classementResultatsPoule .modal-content #histoMatchesContent .rencontre.journeePoule, .modal.classementResultatsPoule .modal-content .histoMatchesContentPoule .rencontre.journeePoule {
  margin-bottom: 20px;
}
.modal#histoMatches .modal-content #histoMatchesContent .rencontre.journeePoule .row.depthed, .modal#histoMatches .modal-content .histoMatchesContentPoule .rencontre.journeePoule .row.depthed, .modal.classementResultatsPoule .modal-content #histoMatchesContent .rencontre.journeePoule .row.depthed, .modal.classementResultatsPoule .modal-content .histoMatchesContentPoule .rencontre.journeePoule .row.depthed {
  border-radius: 10px;
  background-color: #dce8f0;
}
.modal#histoMatches .modal-content #histoMatchesContent .rencontre.journeePoule .row p.nomAdversaire, .modal#histoMatches .modal-content .histoMatchesContentPoule .rencontre.journeePoule .row p.nomAdversaire, .modal.classementResultatsPoule .modal-content #histoMatchesContent .rencontre.journeePoule .row p.nomAdversaire, .modal.classementResultatsPoule .modal-content .histoMatchesContentPoule .rencontre.journeePoule .row p.nomAdversaire {
  margin: 3px;
}
.modal#histoMatches .modal-content #histoMatchesContent .rencontre.journeePoule .row span.scoreRencontre, .modal#histoMatches .modal-content .histoMatchesContentPoule .rencontre.journeePoule .row span.scoreRencontre, .modal.classementResultatsPoule .modal-content #histoMatchesContent .rencontre.journeePoule .row span.scoreRencontre, .modal.classementResultatsPoule .modal-content .histoMatchesContentPoule .rencontre.journeePoule .row span.scoreRencontre {
  vertical-align: sub;
}
.modal.modal-medium {
  margin-top: 4% !important;
  width: 700px !important;
  height: 81% !important;
  min-height: 81% !important;
  top: 4% !important;
}
.modal.modal-medium .modal-content {
  padding: 2px;
}
.modal.modal-small {
  width: 45% !important;
}
.modal.modal-small .modal-gps .row.hostConsigne span {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 4px;
  padding-right: 4px;
}
.modal.modal-small .modal-gps h5 {
  margin-top: 0;
  margin-bottom: 10px;
}
.modal.modal-small .modal-gps h6 {
  font-size: 20px;
}
.modal.modal-small .modal-gps a.btn.phone {
  margin-top: 0;
}
.modal.modal-small .modal-gps .complAdrDiv {
  width: fit-content;
  margin: 5px auto 0 auto;
  padding: 4px;
  max-width: 380px;
}
.modal.modal-small .modal-gps .complAdr {
  margin: 0;
}
.modal.modal-small .modal-gps .complAdr p {
  margin: 4px 0;
}
.modal.modal-small .modal-gps .telephoneDiv {
  display: flex;
  justify-content: center;
}
.modal.modal-small .modal-gps .telephoneDiv div {
  margin: 0 5px;
}

.btn-gps p.adr {
  margin: 8px 0 10px 0;
}
.btn-gps .row_btns {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
.btn-gps .row_btns p {
  margin-top: 5px;
}
.btn-gps .row_btns .card.grey {
  padding: 5px 10px 10px 10px;
  margin: 5px 10px;
  min-width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.btn-gps .row_btns .card.grey:nth-child(2) a.btn-small {
  background-color: #3cf;
}
.btn-gps .row_btns .card.grey button.btn-small {
  margin-top: 8px;
}
.btn-gps .row_btns .card.grey i {
  font-size: 21px;
}
.btn-gps .row_btns .card.grey img {
  width: 26px;
  aspect-ratio: auto;
  margin-top: 3px;
}

.preloaderSendMail {
  margin-top: 25px;
}

.blured_data {
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.table_contact tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
.table_contact tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
.table_contact .btn {
  text-transform: none;
  margin-top: 2px;
  margin-bottom: 2px;
}
.table_contact td.td_buttons_contact_phone {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.table_contact td.td_buttons_contact_phone a {
  margin: 0;
}

.responsive-phone-num {
  margin-top: 20px;
}

#noTeam {
  font-style: italic;
}

.page-footer {
  padding-top: 0;
  background-color: #012242;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.page-footer a {
  color: #f5f5f5;
}
.page-footer a:hover {
  color: #3691f8;
}
.page-footer a.active {
  background-color: #1565c0;
  padding: 1px 4px;
  border-radius: 5px;
}

.missingTitle {
  font-size: 20px;
}

.cardTeamsWithoutDiv {
  padding-top: 5px;
  padding-bottom: 5px;
  border: red solid 2px;
}

.rainbow {
  background: linear-gradient(124deg, #1cb137, #075d17, #1cb137, #075d17, #1cb137, #075d17);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 8s ease infinite;
  -z-animation: rainbow 8s ease infinite;
  -o-animation: rainbow 8s ease infinite;
  animation: rainbow 8s ease infinite;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
}

#span_passwords_matching, #span_passwords_not_matching {
  margin-top: 0;
  margin-bottom: 0;
  height: 22px;
}

.fftt_api_manager h4 {
  margin-top: 0;
}
.fftt_api_manager .title_journee h3 {
  margin-bottom: 15px;
  margin-top: 15px;
}

.progress {
  background-color: #135299;
}

.progress .indeterminate {
  background-color: #63aaff;
}

table.classementPoule {
  margin-top: 20px;
}
table.classementPoule td {
  padding: 5px;
}
table.classementPoule td.td-position_club {
  width: 60px;
}
table.classementPoule td.td-club_points, table.classementPoule td.td-pg_pp {
  width: 70px;
}
table.classementPoule td.td-club_points .pg_pp, table.classementPoule td.td-pg_pp .pg_pp {
  display: flex;
  justify-content: space-evenly;
}
table.classementPoule td.td-club_name {
  display: table-cell;
  padding-left: 10px;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 20px;
}

table.table-backoffice-disponibilites tbody td {
  padding: 7px 5px;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0 82%;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
li .collapsible-header {
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
li .collapsible-header.collapsible-header-sidenav {
  background-color: #021931 !important;
}
li .collapsible-header .caret {
  height: 29px;
  margin-top: 8px;
  margin-right: 0;
  transition: transform 0.2s ease;
}
li .collapsible-header .chip {
  margin: 0;
}
li .collapsible-header .chip:not(.chip-sidenav) {
  font-size: 14px;
}
li.active .collapsible-header .caret {
  transform: rotate(-180deg);
}
li.active .collapsible-header .caret:not(.caret-sidenav) {
  transform-origin: 0.6em 0.5em;
}

p.joueurAnniv {
  margin-top: 10px;
  margin-bottom: 11px;
  padding-left: 0;
  padding-right: 0;
}

.brand-logo {
  left: 50% !important;
}

.backoffice-table th {
  padding-left: 0;
  padding-right: 0;
}

.rotating-icon {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.noDivisionPill {
  background-color: rgba(241, 35, 35, 0.2);
  border-radius: 5px;
  padding: 5px;
}
.noDivisionPill.noDivisionPillHeader {
  margin-left: 6px;
}

.markdown_content li::before {
  padding-left: 8px;
  content: "- ";
}

.avatarSectionDelete {
  width: 120px;
  height: 120px;
  position: relative;
  margin: 20px auto 0;
}
.avatarSectionDelete a {
  margin-top: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.avatarSectionDelete img {
  border: 1px solid #012242;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1b5fac;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0d427f;
}

.dark_blue {
  color: #1b5fac;
  margin-top: 20px;
}

button.btn_renouveler_certif_mobile {
  display: none;
}

.hide-on-med-and-up.adversaireLine h5.advUndefined {
  margin-top: 0;
  margin-bottom: 10px;
}
.hide-on-med-and-up.adversaireLine h5.pastille {
  margin-top: 0;
  margin-bottom: 10px;
}
.hide-on-med-and-up.adversaireLine div.advDefined div {
  padding-left: 0;
  padding-right: 6px;
  display: inline-block;
  vertical-align: middle;
}
.hide-on-med-and-up.adversaireLine div.advDefined div:first-child h5 {
  margin-top: 8px;
}
.hide-on-med-and-up.adversaireLine div.advDefined i.material-icons {
  font-size: 1.5rem;
}

table.table-last-compos td {
  padding-top: 10px;
  padding-bottom: 10px;
}
table.table-last-compos td.nomJoueur {
  max-width: 50px;
  padding-right: 4px;
}
table.table-last-compos td.resultatsJoueur {
  max-width: 60px;
}
table.table-last-compos td.pointsJoueur {
  max-width: 19px;
  text-align: start;
}
table.table-last-compos tr {
  padding-left: 0;
  padding-right: 0;
}

.virtualPointsCard {
  padding: 6px 0;
  margin-bottom: 10px;
  font-size: 14px;
}
.virtualPointsCard p {
  margin-top: -1px;
  margin-bottom: 2px;
}
.virtualPointsCard p span:last-child {
  padding: 0;
}
.virtualPointsCard p.error {
  margin: 5.5px 0;
}

#aide_page h1 {
  margin-top: 0;
}
#aide_page h1, #aide_page h2, #aide_page h4 {
  font-family: Lobster, cursive;
}
#aide_page h4 {
  font-size: 2rem;
}
#aide_page strong {
  font-weight: bold;
}
#aide_page ul > li {
  margin-top: 5px;
  margin-bottom: 5px;
}
#aide_page ul > li > ul > li:before {
  content: "▶ ";
  font-size: 80%;
  padding-left: 15px;
}
#aide_page .link_jumper {
  cursor: pointer;
}

.brulages table thead tr h6 {
  font-size: 1.25rem;
}
.brulages table:not(:first-of-type) thead tr h6 {
  margin-top: 15px;
}

#title_points_virtuels {
  vertical-align: sub;
}

.lien_court {
  display: none;
}

button#updateJoueursIssued {
  margin-top: 0;
}

.merged_cards.up.leftOne {
  margin-top: 10px;
}

.pastilleBorder {
  border-radius: 10px;
  width: fit-content;
  margin: 0 auto 8px auto;
  padding-top: 1px;
}
.pastilleBorder .pastilleBorderContent {
  margin: 0;
  padding: 2px 10px;
}
.pastilleBorder .preloader {
  margin-left: 6px;
  padding-bottom: 24px;
  padding-top: 2px;
}
.pastilleBorder i.material-icons {
  font-size: 16px;
  vertical-align: text-bottom;
}
.pastilleBorder i.material-icons.swap-validation {
  margin-left: 2px;
  font-size: 26px;
  vertical-align: middle;
  cursor: pointer;
}
.pastilleBorder.enAttente {
  border: 1px solid #ef6c00;
  color: #ef6c00;
}
.pastilleBorder.validee {
  border: 1px solid #4caf50;
  color: #4caf50;
}

.btnsDispos {
  display: flex;
  justify-content: space-evenly;
}

.card-panel.relative {
  position: relative;
  padding-bottom: 35px;
}

.adminEditLog {
  position: absolute;
  bottom: 4px;
  left: 2px;
  margin-top: 8px;
  margin-left: 8px;
  color: darkgrey;
  font-size: 12px;
}

.divProfileCompletionCol {
  margin-top: 0 !important;
}
.divProfileCompletionCol .divProfileCompletion {
  background-color: #fff8f0;
  border: 1px solid #fc780b;
  border-radius: 10px;
}
.divProfileCompletionCol .divProfileCompletion .progress {
  margin-bottom: 7px;
}
.divProfileCompletionCol .divProfileCompletion p {
  font-size: 15px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.divProfileCompletionCol .divProfileCompletion ul {
  margin-top: 0;
  margin-bottom: 6px;
}
.divProfileCompletionCol .divProfileCompletion .champsManquants p, .divProfileCompletionCol .divProfileCompletion .champsManquants li {
  font-size: 13px;
  margin: 0;
}

#noPeopleToImport {
  margin-top: 10px;
}

#importButtons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
#importButtons #submitImportButton {
  margin-left: 5px;
}

span.field-icon {
  float: right;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  z-index: 2;
}

.preloader-wrapper.tiny {
  width: 26.24px;
  height: 26.24px;
}

.preloader-wrapper.micro, .preloader.micro {
  width: 22px;
  height: 22px;
}

.editor_variable_highlighted {
  background-color: #a7d6ff;
  border-radius: 8px;
  padding: 2px 2px 3px 2px;
}

.personnal_virtual_rank {
  margin-top: 6px;
}

span.virtualPoints {
  background-color: #0c3a69;
}

span.progression {
  margin: auto 10px auto 4px;
}

.preloader_personnal_virtual_rank canvas {
  position: relative;
  left: 5px;
  top: 7px;
}

a.reload_ranking, a.reload_histoMatches, a.reload_classement_poule {
  position: absolute;
  right: 8px;
  top: 8px;
}

.navbar-general .left_items .dot {
  position: absolute;
  top: 15%;
  left: 50%;
}
.navbar-general .btn-floating {
  top: 13px;
  right: 23px;
}
.navbar-general .btn-floating i {
  position: absolute;
  height: 0;
  line-height: 40px;
}

.pastille.remplacants {
  margin-top: 10px;
  background-color: #4baefc !important;
}
.pastille.remplacants .header {
  display: flex;
  justify-content: space-between;
}
.pastille.remplacants .header p {
  margin: 0 0 2px 0;
}
.pastille.remplacants i.material-icons {
  font-size: 19px;
  margin-bottom: 1px;
}

#listTournois {
  padding: 1px;
}
#listTournois #entete {
  margin-bottom: 20px;
}
#listTournois #entete label#checkboxSwitchUnjoinableTournois span {
  padding-left: 25px;
  vertical-align: middle;
  height: 28px;
  color: black;
}
#listTournois #entete .notJoinable.message {
  text-align: center;
  padding: 10px;
  margin-top: 5px;
}
#listTournois ul.collapsible p.mois {
  color: #1b5fac;
  margin: 20px auto 10px auto;
  font-size: 105%;
}
#listTournois ul.collapsible .collapsible-header {
  padding: 6px 0 !important;
}
#listTournois ul.collapsible .collapsible-header .chip {
  border-radius: 10px;
  padding: 0 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#listTournois ul.collapsible .collapsible-header .chip.notJoinable {
  background-color: #ffe8e8;
}
#listTournois ul.collapsible .collapsible-header .chip.sameRegion {
  background-color: #eef5fd;
  border-style: inherit;
  border-color: cornflowerblue;
  border-width: 3px;
}
#listTournois ul.collapsible .collapsible-body {
  padding: 0;
}
#listTournois ul.collapsible .collapsible-body .c-b_entete {
  margin: 15px auto;
}
#listTournois ul.collapsible .collapsible-body .c-b_entete .col {
  padding: 1px;
}
#listTournois ul.collapsible .collapsible-body .c-b_entete .col p {
  margin: 0;
}
#listTournois ul.collapsible .collapsible-body .c-b_entete .col i.material-icons {
  font-size: 20px;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px 7px 5px 5px;
}
#listTournois ul.collapsible .collapsible-body .col.sectQuote {
  padding: 0 5px 0 0;
}
#listTournois ul.collapsible .collapsible-body .card {
  border-radius: 10px;
  width: auto;
  margin: 5px 15px;
}
#listTournois ul.collapsible .collapsible-body table {
  margin-top: 15px;
}
#listTournois ul.collapsible .collapsible-body table tbody tr td.description {
  max-width: 250px;
  white-space: normal;
}

blockquote {
  font-weight: bold;
  border-left-color: #1565c0;
  margin-bottom: 6px;
}

.exempt h5 {
  font-size: 1.5rem;
  margin-top: 11px !important;
  margin-left: 50px;
  margin-right: 50px;
}

#sendMailForm h5#title {
  margin-top: 0;
  margin-bottom: 6px;
  color: #0c3565;
}
#sendMailForm p#consigne {
  margin-bottom: 0;
}
#sendMailForm #preloaderResetPassword {
  height: 38px;
}
#sendMailForm #buttonsResetPassword button {
  margin-left: 10px;
}
#sendMailForm p#errorResetPassword {
  margin-bottom: 4px;
}

#divMailSent h5 {
  margin-top: 0;
  margin-bottom: 6px;
  color: #0c3565;
}
#divMailSent a {
  margin-top: 0;
}

.container.logs {
  width: 95% !important;
}
.container.logs p#logContent {
  overflow: scroll;
  white-space: unset;
  font-family: "Lucida Console", Regular, serif;
  font-size: 12px;
}

@media screen and (max-width: 1466px) {
  .right_items_navbar_general .right_items_navbar {
    display: none;
  }

  .sidenav-trigger.sidenav-general {
    display: block !important;
  }
}
@media screen and (max-width: 1449px) {
  .right_items_navbar_backoffice .right_items_navbar {
    display: none;
  }

  .sidenav-trigger.sidenav-backoffice {
    display: block !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1357px) {
  .preloader_personnal_virtual_rank {
    padding-top: 5px;
  }
}
@media screen and (min-width: 992px) {
  table.recapitulatifDispos thead tr th:not(:first-of-type) {
    width: 60px;
  }
  table.recapitulatifDispos thead tr h6 {
    font-size: 1.25rem;
  }
  table.recapitulatifDispos:not(:first-of-type) {
    margin-top: 20px;
  }

  .bottom_0.brulages {
    padding: 0;
    margin-top: 20px;
  }
  .bottom_0.brulages .row.bottom_0 {
    font-size: 94%;
  }
}
@media screen and (min-width: 1285px) {
  .exempt h5 {
    margin-left: 80px;
    margin-right: 80px;
  }
}
@media screen and (max-width: 1167px) {
  .navbar-general .left_items {
    display: none;
  }
  .navbar-general .esftt_logo {
    display: block;
  }
}
@media screen and (max-width: 1128px) {
  .navbar-backoffice .left_items {
    display: none;
  }
  .navbar-backoffice .esftt_logo {
    display: block;
  }
}
@media screen and (max-width: 1090px) {
  #title_points_virtuels {
    font-size: 15px;
    margin-left: 10px;
  }
}
@media screen and (min-width: 993px) {
  #listTournois .collapsible table tbody td.rowspan:not(.firstBorder), td.firstBorderTd {
    border-top: 3px solid #1b5fac;
  }
}
@media screen and (max-width: 992px) {
  .th_mobile_pts_off {
    padding-top: 28px;
  }
  .th_mobile_pts_off.isCritFed {
    padding-top: 18px;
  }

  table#joueursIssued {
    margin-top: 16px;
  }
  table#joueursIssued tbody tr td.isCritFed:last-child {
    min-height: 56px;
  }

  .th_mobile_nom {
    padding-top: 26px;
  }

  th.th_picture_compet_table {
    height: 116px;
  }

  button.btn_renouveler_certif_mobile {
    display: inline-block;
  }

  button.btn_renouveler_certif_pc {
    display: none;
  }

  td.td_picture_compet {
    padding-top: 0;
    padding-bottom: 0;
    height: 55px;
  }

  .setDispoCard {
    margin-bottom: 20px;
  }

  .virtualPointsCard {
    margin-top: 10px;
  }
  .virtualPointsCard p {
    margin-top: -2px;
    margin-bottom: 4px;
  }

  table.composition-equipe tbody td {
    padding: 6px 5px;
  }

  .responsive-phone-num {
    margin-top: 0;
  }

  .backoffice_disponibilites .row {
    width: min-content;
  }

  h6.recapitulatifDispos {
    font-size: 1.35rem;
  }
  h6.recapitulatifDispos:not(:first-of-type) {
    margin-top: 20px;
  }

  table.recapitulatifDispos tbody td {
    height: 51px;
  }

  .col_infos_licence {
    margin-top: 5px !important;
  }

  .merged_cards {
    -webkit-box-shadow: none;
  }
  .merged_cards.up {
    border-radius: 10px 10px 0 0 !important;
  }
  .merged_cards.bottom {
    border-radius: 0 0 10px 10px !important;
    margin-top: 0 !important;
  }
  .merged_cards.bottom table thead th h5 {
    margin-top: 0;
  }

  .cardJoueursEditJournee {
    margin-top: 10px;
  }
  .cardJoueursEditJournee td {
    font-size: 95%;
  }

  #listTournois .collapsible .collapsible-body table tbody tr td {
    padding: 8px 5px;
  }

  #listTournois .collapsible table tbody tr.firstBorderTr {
    border-left: 3px solid #1b5fac;
  }

  .iframe-map-tournoi {
    width: 100%;
  }

  .personnal_virtual_rank {
    margin-top: 0;
  }
}
@media screen and (max-width: 850px) {
  .modal.modal-small {
    width: 96% !important;
  }
  .modal#histoMatches .modal-content .histoMatchesContentPoule .rencontre {
    width: 96%;
  }
}
@media screen and (max-width: 720px) {
  .modal.modal-medium {
    width: 96% !important;
  }
}
@media screen and (min-width: 601px) {
  form#form_joueurs_compo {
    margin-top: 10px;
  }
}
@media screen and (max-width: 601px) {
  .modal {
    margin-top: 0 !important;
    min-height: 98% !important;
    top: 1% !important;
  }
  .modal.modal-medium {
    top: 4% !important;
    min-height: 89% !important;
  }
  .modal.modal.modal-small {
    top: 6% !important;
    min-height: 89% !important;
  }

  .navbar-general .btn-floating {
    top: 9px;
  }
  .navbar-general .btn-floating i {
    position: absolute;
    height: 0;
    line-height: 40px;
  }

  th.th_picture_compet_table {
    height: 96px;
  }

  td.td_picture_compet {
    padding-top: 0;
    padding-bottom: 0;
    height: 40px;
  }
  td.td_picture_compet img.picture_compet {
    width: 40px;
    height: 40px;
  }

  #settings-form {
    margin-left: 10px;
  }

  #ckeditor-render figure.table {
    margin: 0 !important;
  }

  #listTournois .collapsible .collapsible-body .sectQuote#reglement blockquote {
    margin-top: 0;
  }

  .input_file .file-field.input-field {
    margin-left: 5%;
    margin-right: 5%;
  }

  .virtualPointsDiv.from-account {
    justify-content: space-between;
  }
  .virtualPointsDiv.from-account span:nth-child(3) a {
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 550px) {
  #bo_mail_certif_medic_perim {
    margin-top: 5px;
  }
}
@media screen and (max-width: 540px) {
  .lien_long {
    display: none;
  }

  .lien_court {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  #settings-form {
    margin-left: 15px;
  }
}
@media screen and (max-width: 460px) {
  table.table-last-compos {
    font-size: 85%;
  }
  table.table-last-compos td {
    padding: 10px 0;
  }

  .histoMatchesContentPoule {
    font-size: 85%;
  }
}
@media screen and (max-width: 432px) {
  table.rankingVirtualPoints td .chip {
    padding: 0;
  }
  table.rankingVirtualPoints td .chip img {
    display: none;
  }
  table.rankingVirtualPoints td.classement p {
    width: 36px !important;
  }
  table.rankingVirtualPoints td.progression-classement-td {
    text-align: left;
  }
  table.rankingVirtualPoints td.td-chip {
    padding-left: 0;
    padding-right: 0;
    display: none;
  }
  table.rankingVirtualPoints td.td-name {
    display: table-cell;
    max-width: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  table.rankingVirtualPoints td.td-name.pl5 {
    padding-left: 5px;
  }
  table.rankingVirtualPoints td.points-td {
    width: 82px;
  }
  table.rankingVirtualPoints td.nbJoueurs-td {
    width: 64px;
  }
  table.rankingVirtualPoints td.progression-td {
    width: 56px;
    padding-left: 0;
  }
}
@media screen and (max-width: 383px) {
  p#nbTournois {
    font-size: 12px;
  }
}
@media screen and (max-width: 381px) {
  .setDispoCard h5.unsetTitle {
    font-size: 1.45em;
  }
}
@media screen and (min-width: 351px) and (max-width: 430px) {
  a.reload_ranking, a.reload_histoMatches, a.reload_classement_poule {
    top: 6px;
    right: 6px;
  }
}
@media screen and (max-width: 355px) {
  .btn-gps .row_btns .card {
    margin: 5px !important;
  }
}
@media screen and (max-width: 344px) {
  .virtualRankButtons {
    font-size: 13px;
  }
}
@media screen and (max-width: 336px) {
  p#nbTournois {
    font-size: 10px;
  }
}
@media screen and (max-width: 330px) {
  #collapsible_selectionnable_plus_1 {
    font-size: 18px;
  }

  #importButtons {
    display: block;
  }
  #importButtons #submitImportButton {
    margin-left: 0;
  }
}
@media screen and (max-width: 328px) {
  .footer-copyright {
    font-size: 12px;
  }
}
@media screen and (max-width: 325px) {
  .virtualRankButtons {
    flex-direction: column;
    padding-top: 0;
  }
  .virtualRankButtons:not(.indivEquipe) .buttonGroup:first-child button, .virtualRankButtons.indivEquipe .buttonGroup button {
    margin: 5px 0;
  }
}
@media screen and (max-width: 324px) {
  .noDivisionPillHeader {
    display: none;
  }

  .noDivisionPillBody {
    display: block;
  }
}
@media screen and (max-width: 316px) {
  #listTournois #entete label#checkboxSwitchUnjoinableTournois span {
    font-size: 13px;
  }
}
@media screen and (max-width: 307px) {
  #collapsible_selectionnable_plus_1 {
    font-size: 16px;
  }

  .card-panel.relative {
    padding-bottom: 47px;
  }
}
@media screen and (max-width: 299px) {
  #listTournois #entete label#checkboxSwitchUnjoinableTournois span {
    font-size: 12px;
  }
}
@media screen and (max-width: 284px) {
  #listTournois #entete label#checkboxSwitchUnjoinableTournois span {
    font-size: 11px;
  }
}
@media screen and (max-width: 283px) {
  #collapsible_selectionnable_plus_1 {
    font-size: 14px;
  }

  .footer-copyright {
    font-size: 10px;
  }
}
@media screen and (max-width: 275px) {
  a.reload_ranking, a.reload_histoMatches, a.reload_classement_poule {
    display: none;
  }
}
@media screen and (max-width: 267px) {
  #listTournois #entete label#checkboxSwitchUnjoinableTournois span {
    font-size: 10px;
  }
}
@media screen and (max-width: 260px) {
  #collapsible_selectionnable_plus_1 {
    font-size: 12px;
  }
}
@media screen and (max-width: 240px) {
  .footer-copyright {
    font-size: 8px;
  }
}
@media screen and (max-width: 237px) {
  #collapsible_selectionnable_plus_1 {
    font-size: 10px;
  }
}
@media screen and (max-width: 220px) {
  .poule, .poule a {
    font-size: 11px !important;
  }
}

/*# sourceMappingURL=style.css.map */
