$green: #2db009;
$grey: #918c8c;
$light_grey: #aba9a9;
$darken_blue: #021931;
$dark_blue: #012242;
$light_blue: #1565c0;
$gradient_blue_light: rgb(17, 116, 184);
$gradient_blue_dark:  rgba(0, 19, 23, 1);

html {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(135deg, $gradient_blue_light 1%, $gradient_blue_dark 100%) fixed;
  background-size: cover;
  height: 100%;
  display: block;
}

body {
  height: 100%;
  margin: 0;
  position: relative;
}

#wrap {
  min-height: 100%;
  position: relative;
}

#main {
  position: relative;
  padding-bottom: 75px;
}

.card-panel {
  background-color: white;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-top: 20px;

  &.bottom_0 {
    padding-top: 10px;
    padding-bottom: 6px;
  }

  &.backoffice-panel {
    padding: 10px;
  }

  &.account-card {
    .col {
      margin-top: 20px;
    }
  }
}

.btn {
  margin-top: 20px;
}

.btn_form {
  margin: 0;
}

.h4_form {
  margin-top: 0;
  margin-bottom: 16px;
}

.dispos {
  border-radius: 10px;
  background-color: white;
  float: right;
  margin-top: 10px;
  font-size: 95%;

  tr:first-child th {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.brulages {
  @extend .dispos;

  td:not(:first-child) {
    background-color: rgba($light_grey, 0.1);
    border-left-color: white;
    border-left-style: solid;
    border-right-color: white;
    width: 35.6px;
  }

  tr:last-child td {
    border-radius: 0 0 0 10px;
  }
}

.complete_compos {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 100%;

  & h5 {
    font-size: 1.5rem;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

thead th, h5, h4, h3, td.rank, .flash, .bulle, .lobster {
  font-family: Lobster, cursive;
}

.lobster {
  font-size: 20px;
}

.flash {
  font-size: 24px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-extended, .sidenav, .title_journee {
  background: $dark_blue;
}

#menu_dropdown, #collapsible-sidenav {
  width: auto !important;
  background-color: $dark_blue;

  & li {
    border-radius: 5px;
    margin: 2px 2px;
    white-space: nowrap;
    width: 100% !important;

    &:hover {
      background-color: $light_blue;
    }
  }
}

#menu_dropdown{
  padding: 2px 2px;
}

#collapsible-sidenav{
  padding: 0 !important;
}

.nav-extended {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 120%;
}

.title_journee {
  padding: 6px;

  h4 {
    font-size: 2.10rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

li, p, .btn, label, nav ul a, .card-panel .bottom_0, .tab a {
  font-size: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-wrapper li a {
  font-size: 17px;
}

.nav-wrapper li a, .sidenav li a, .poule, .card-panel>h5, .complete_compos h5, h6, .lobster_2 {
  font-family: 'Lobster Two', cursive;
}

.sidenav {
  li a, .chip-sidenav {
    font-size: 17px;
  }
}

.chip {
  font-size: 16px;
  background-color: transparent;
  height: 40px;
  line-height: 40px;
  color: black;

  img {
    height: 40px;
    width: 40px;
    object-fit:cover;
  }
}

.chip-menu {
  vertical-align: middle !important;
  padding-right: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0;

  img {
    height: 35px;
    width: 35px;
    object-fit:cover;
    background-color: white;
  }
}

.chip-mobile {
  img {
    margin-top: 6px!important;
    margin-right: 25px!important;
  }
}

.select-dropdown li img {
  border-radius: 50%;
  object-fit:cover;
}

i {
  vertical-align: bottom;
}

.bulle {
  background: $dark_blue;
  text-align: center;
  border-radius: 50%;
  padding: 8px 10px;
}

.li_in_line {
  border-radius: 5px;
  padding-left: 0;
  padding-right: 0;

  &:hover {
    background-color: $light_blue;
  }

  &.deconnexion > a{
    color: white;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;

    &:hover {
      color: #f15454;
    }
  }
}

.li_in_line {
  .nav-wrapper & {
    margin-left: 2px;
    margin-right: 2px;
  }
  .sidenav & {
    margin: 4px;
  }
}

a {
  .li_in_line & {
    font-size: 18px;
  }

  nav ul & {
    font-size: 18px;
  }
}

.header_compo, .form_div_list div:last-child, .bottom_0 {
  margin-bottom: 0;
}

p.lobster {
  margin-top: 0;
}

.btn_gestion {
  margin-top: 0;
}
.striped_table>tbody>tr:nth-child(4)>.rank,
.striped_table>tbody>tr:nth-child(5)>.rank,
.striped_table>tbody>tr:nth-child(6)>.rank,
.light_blue {
  color: $light_blue;
}

.divider_custom {
  height: 0.15em;
  background: $light_blue;
}

.collapsible {
  border: none;
  box-shadow: none!important;

  .collapsible-body {
    border: none;
    padding: 0 5px;
  }

  &.backoffice_disponibilites {
    margin-top: 6px;
    margin-bottom: 6px;

    .collapsible-header {
      padding-top: 6px;
      padding-bottom: 6px;

      .chip {
        margin: 0;
      }
    }
    .collapsible-body {
      background-color: white;

      .row {
        margin: 0 10px 0 0;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

#slide-out {
  .collapsible {
    .li_in_line {
      background-color: $dark_blue;
    }
  }
}

.tabs {
  .tab a {
    color: black;
  }

  .tab a:hover {
    color: black;
  }

  .tab a.active {
    background-color:rgba(grey, 0.5);
    color:#000;
  }

  .indicator {
    background-color:black;
  }
}

.poule {
  font-size: 1.3rem;
  margin-top: 3%;
  margin-bottom: 5px;
}

.nav-wrapper {
  li:first-child {
    margin-left: 0.6rem;
  }

  li:last-child {
    margin-right: 0.6rem;
  }
}

.dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: inline-block;
}

.dot1 {
  background-color: $green;
}

.dot2 {
  background-color: red;
}

.dot3 {
  background-color: $grey;
}

.first_sidenav {
  margin-top: 5px;
}

.titre_edit_journée {
  margin-bottom: 40px;
}

li.error {
  color: red;
}

.switch label {
  color: black;

  input[type=checkbox]:checked + .lever:after {
    background-color: $gradient_blue_light;
  }

  input[type=checkbox]:checked+.lever {
    background-color: rgba($gradient_blue_light, 0.5);
  }

  input[type=checkbox]+.lever:after {
    background-color: $gradient_blue_light;
  }

  input[type=checkbox]+.lever {
    background-color: rgba($gradient_blue_light, 0.5);
  }
}

.form_div_list .dropdown-content li:first-child>span {
  color: gray;
  font-style: italic;
}

form {
  h5 {
    font-size: 1.3rem;
  }
}

.uppercase{
  text-transform: uppercase;
}

div .profile_pic .file-field.input-field{
  margin-left: 18%;
  margin-right: 18%;
}

.pastille {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 30px;
  color: white;
}

.exempt {
  margin-left: 50px;
  margin-right: 50px;
}

.modal {
  width: 92% !important ;
  height: 85% !important ;
  max-height: 100% !important;
}

.modal-content {
  max-width: 100% !important;
}

.preloaderSendMail {
  margin-top: 25px;
}

.table_contact {
  .btn {
    text-transform: none;
    margin-top: 2px;
    margin-bottom: 2px;

    //span {
    //filter: blur(4px);
    //-webkit-filter: blur(4px);
    //}
  }

  td.td_buttons_contact {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    height: 100px !important;
  }

  td:nth-last-child(2) {
    min-height: 74px;
  }
}

.page-footer{
  padding-top: 0;
  background-color: $dark_blue;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.cardTeamsWithoutDiv {
  padding-top: 5px;
  padding-bottom: 5px;
  border: red solid 2px;
}

.footer-copyright{
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  img {
    width: 70px;
    padding-top: 8px;
  }
}

.rainbow {
  background: linear-gradient(124deg, #1cb137, #075d17, #1cb137, #075d17,
          #1cb137, #075d17);
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 8s ease infinite;
  -z-animation: rainbow 8s ease infinite;
  -o-animation: rainbow 8s ease infinite;
  animation: rainbow 8s ease infinite;
}

#span_passwords_matching, #span_passwords_not_matching {
  margin-top: 0;
  margin-bottom: 0;
  height: 22px;
}

@-webkit-keyframes rainbow {
  0%{background-position:0 82%}
  50%{background-position:100% 19%}
  100%{background-position:0 82%}
}
@-moz-keyframes rainbow {
  0%{background-position:0 82%}
  50%{background-position:100% 19%}
  100%{background-position:0 82%}
}
@-o-keyframes rainbow {
  0%{background-position:0 82%}
  50%{background-position:100% 19%}
  100%{background-position:0 82%}
}
@keyframes rainbow {
  0%{background-position:0 82%}
  50%{background-position:100% 19%}
  100%{background-position:0 82%}
}

li {
  .collapsible-header {
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    &.collapsible-header-sidenav{
      background-color: $darken_blue !important;
    }

    .caret {
      height: 29px;
      margin-top: 8px;
      margin-right: 0;
      transition: transform 0.2s ease;
    }

    .chip {
      margin: 0;
      &:not(.chip-sidenav) {
        font-size: 14px;
      }
    }
  }
  &.active {
    .collapsible-header {
      .caret {
        &:not(.caret-sidenav) {
          transform-origin: 0.6em 0.5em;
        }
        transform: rotate(-180deg);
      }
    }
  }
}

.brand-logo {
  left: 50% !important;
}

.backoffice-table{
  th{
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 1396px) {
  .right_items_navbar_backoffice{
    .right_items_navbar {
      display: none;
    }
  }

  .sidenav-trigger.sidenav-backoffice {
    display: block !important;
  }
}

@media screen and (min-width: 1285px) {
  .exempt {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media screen and (max-width: 1172px) {
  .right_items_navbar_general{
    .right_items_navbar {
      display: none;
    }
  }

  .sidenav-trigger.sidenav-general {
    display: block !important;
  }
}

@media screen and (max-width: 1110px) {
  .navbar-backoffice{
    .left_items {
      display: none;
    }

    .esftt_logo {
      display: block;
    }
  }
}

@media screen and (max-width: 885px) {
  .navbar-general{
    .left_items {
      display: none;
    }

    .esftt_logo {
      display: block;
    }
  }
}