$green: #2db009;
$grey: #918c8c;
$light_grey: #aba9a9;
$darken_blue: #021931;
$dark_blue: #012242;
$light_blue: #1565c0;
$scroll_blue: #1b5fac;
$scroll_dark_blue: #0d427f;
$gradient_blue_light: rgb(17, 116, 184);
$gradient_blue_dark:  rgba(0, 19, 23, 1);

[type="checkbox"].filled-in:checked+span:not(.lever):after{
  background-color: #2196f3;
  border-color: #2196f3;
}

html {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(135deg, $gradient_blue_light 1%, $gradient_blue_dark 100%) fixed;
  background-size: cover;
  height: 100%;
  display: block;
}

body {
  height: 100%;
  margin: 0;
  position: relative;
}

html,body{
  scrollbar-color: $scroll_blue white !important;
  scrollbar-width: thin;
}

#wrap {
  min-height: 100%;
  position: relative;
}

#main {
  position: relative;
  padding-bottom: 75px;
}

.card-panel {
  background-color: white;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-top: 20px;

  &.bottom_0 {
    padding-top: 10px;
    padding-bottom: 6px;
  }

  &.backoffice-panel {
    padding: 10px;
  }

  &.account-card {
    .col {
      margin-top: 20px;
    }
  }
}

.btn {
  margin-top: 20px;
}

.btn_form {
  margin: 0;
}

.h4_form {
  margin-top: 0;
  margin-bottom: 20px;
}

.dispos {
  border-radius: 10px;
  background-color: white;
  float: right;
  margin-top: 10px;
  font-size: 95%;
  padding: 0;
  width: 100%;

  tr:first-child th {
    padding-top: 0;
    padding-bottom: 0;
  }

  tbody tr {
    & > td:first-child {
      padding-right: 0;
      padding-left: 3%;
    }

    & > td:last-child {
      padding-left: 0;
    }
  }
}

div.scrollableTable {
  overflow-x: scroll;
  width: 100%;
  padding: 0;
  font-size: 90%;
  height: auto;
  margin-top: 10px;

  tr:nth-child(odd)>td {
    background-color: rgb(242,242,242);
  }

  tr:nth-child(even)>td {
    background-color: white;
  }

  td:not(:first-child) {
    width: 35.6px;
  }

  td:first-child {
    min-width: 170px;
  }

  thead tr > th {
    position: sticky;
    padding: 0 5px;
    z-index: 2;
    background-color: white;
  }

  thead tr > :first-child {
    z-index: 3;
    left: 0;
    top: 0;
  }

  tbody tr > :first-child {
    position: sticky;
    z-index: 1;
    left: 0;
    padding-left: 8px;
  }

  td:not(:first-child){
  }
}

.complete_compos {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 100%;
  margin-top: 10px;

  & h5 {
    font-size: 1.5rem;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

thead th, h5, h4, h3, td.rank, .flash, .divisionBubble, .lobster {
  font-family: Lobster, cursive;
}

.lobster {
  font-size: 20px;
}

.flash {
  font-size: 24px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

i.iconPlace {
  font-size: 2.1rem;
  color: $dark_blue;
}

.setDispoCard {
  padding-top: 10px;
  padding-bottom: 14px;

  h5.unsetTitle {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.nav-extended, .sidenav, .title_journee {
  background: $dark_blue;
}

#menu_dropdown_champs, #menu_dropdown_contact, #collapsible-sidenav {
  width: auto !important;
  background-color: #032d56;

  & li {
    border-radius: 5px;
    margin: 2px 2px;
    white-space: nowrap;
    width: 98% !important;

    &:hover {
      background-color: $light_blue;
    }
  }
}

#menu_dropdown_champs, #menu_dropdown_contact {
  padding: 2px 2px;
  border-radius: 5px;
}

#collapsible-sidenav{
  padding: 0 !important;
}

.nav-extended {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 120%;

  & .journee_passee {
    margin-left: 4px;
  }
}

.title_journee {
  padding: 6px;

  h4 {
    font-size: 2.10rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

li, p, .btn, label, nav ul a, .card-panel .bottom_0, .tab a {
  font-size: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-wrapper li a {
  font-size: 17px;
}

.nav-wrapper li a, .sidenav li a, .poule, .card-panel h5, .complete_compos h5, h6, .lobster_2 {
  font-family: 'Lobster Two', cursive;
}

.sidenav {
  li a, .chip-sidenav {
    font-size: 17px;
  }
}

.chip {
  font-size: 16px;
  background-color: transparent;
  height: 40px;
  line-height: 40px;
  color: black;

  img {
    height: 40px;
    width: 40px;
    object-fit:cover;
  }
}

.cardJoueursBrules {
  margin-top: 20px;
  padding: 10px 0 6px;

  h5 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.chip-menu {
  vertical-align: middle !important;
  padding-right: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0;

  img {
    height: 35px;
    width: 35px;
    object-fit:cover;
    background-color: white;
  }
}

.chip-mobile {
  img {
    margin-top: 6px!important;
    margin-right: 25px!important;
  }
}

.select-dropdown li img {
  border-radius: 50%;
  object-fit:cover;
}

i {
  vertical-align: bottom;
}

.divisionBubble {
  background: $dark_blue;
  text-align: center;
  border-radius: 50%;
  padding: 8px 10px;
}

.whatsapp_btn {
  background-color: #25d366;
  padding: 0;

  img {
    padding: 5px 8px;
  }
}

.li_in_line {
  border-radius: 5px;
  padding-left: 0;
  padding-right: 0;

  &:hover {
    background-color: $light_blue;
    border-radius: 5px;
  }

  &.deconnexion > a {
    &:hover {
      background-color: #f15454;
      border-radius: 5px;
    }
  }
}

.li_in_line {
  .nav-wrapper & {
    margin-left: 2px;
    margin-right: 2px;
  }
  .sidenav & {
    margin: 4px;
  }
}

a {
  .li_in_line & {
    font-size: 18px;
  }

  nav ul & {
    font-size: 18px;
  }
}

.header_compo, .form_div_list div:last-child, .bottom_0 {
  margin-bottom: 0;
}

p.lobster {
  margin-top: 0;
}

.btn_gestion {
  margin-top: 0;
}
.rank.rank_blue, .light_blue {
  color: $light_blue;
}

.divider_custom {
  height: 0.15em;
  background: $light_blue;
}

.collapsible {
  border: none;
  box-shadow: none!important;

  .collapsible-body {
    border: none;
    padding: 0 5px;
  }

  &.backoffice_disponibilites {
    margin-top: 6px;
    margin-bottom: 6px;

    .collapsible-header {
      padding-top: 6px;
      padding-bottom: 6px;

      .chip {
        margin: 0;
      }
    }
    .collapsible-body {
      background-color: white;

      .row {
        margin: 0 10px 0 0;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

#slide-out {
  .collapsible {
    .li_in_line {
      background-color: $dark_blue;
    }
  }
}

.tabs {
  .tab a {
    color: black;
  }

  .tab a:hover {
    color: black;
  }

  .tab a.active {
    background-color:rgba(grey, 0.5);
    color:#000;
  }

  .indicator {
    background-color:black;
  }
}

.poule {
  font-size: 1.3rem;
  margin-top: 3%;
  margin-bottom: 5px;
}

.nav-wrapper {
  li:first-child {
    margin-left: 0.6rem;
  }

  li:last-child {
    margin-right: 0.6rem;
  }
}

.dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: inline-block;
}

.pastilleDispos {
  font-size: 100%;
  max-width: 70px;
  margin-left: 8px !important;
}

.dot1 {
  background-color: $green;
}

.dot2 {
  background-color: red;
}

.dot3 {
  background-color: $grey;
}

.first_sidenav {
  margin-top: 5px;
}

.titre_edit_journée {
  margin-bottom: 40px;
}

li.error {
  color: red;
}

.switch label {
  color: black;

  input[type=checkbox]:checked + .lever:after {
    background-color: $gradient_blue_light;
  }

  input[type=checkbox]:checked+.lever {
    background-color: rgba($gradient_blue_light, 0.5);
  }

  input[type=checkbox]+.lever:after {
    background-color: $gradient_blue_light;
  }

  input[type=checkbox]+.lever {
    background-color: rgba($gradient_blue_light, 0.5);
  }
}

.form_div_list .dropdown-content li:first-child>span {
  color: gray;
  font-style: italic;
}

form {
  h5 {
    font-size: 1.3rem;
  }
}

.issue .row {
  margin-bottom: 0;
}

.uppercase{
  text-transform: uppercase;
}

.titlecase .select-dropdown.dropdown-trigger, .titlecase .dropdown-content.select-dropdown{
  text-transform: capitalize;
}

.input_file .file-field.input-field{
  margin-left: 20%;
  margin-right: 20%;
}

.pastille {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 30px;
  color: white;

  &.reset, &.centered {
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    border-radius: 15px;
  }
}

.virtualPointsDiv {
  display: flex;
  justify-content: space-between;

  & {
    h6 {
      margin-top: 0;
      margin-bottom: 0;
    }

    span {
      width: 15%;
    }

    i.material-icons.interaction {
      vertical-align: text-top;
      font-size:1.1rem;
    }
  }
}

span.virtualPoints {
  background-color: #0c3a69;
}

.switch.virtualPoints {
  margin-bottom: 8px;
  margin-top: 8px;
}

table.rankingVirtualPoints {
  font-size: 13px !important;
  td {
    padding-left: 0;
    padding-right: 0;

    & .chip{
      i {
        vertical-align: middle;
      }

      .nom {
        font-size: 13px !important;
      }
    }

    &.points-td {
      min-width: 86px;
    }

    &.progression-td {
      min-width: 49px;
    }
  }
}

.tooltipped {
  cursor: pointer;
}

.exempt {
  margin-left: 50px;
  margin-right: 50px;
}

.gold-color {
  color: #ecc70a;
}

.silver-color {
  color: #C0C0C0;
}

.bronze-color {
  color: #CD7F32;
}

.modal {
  width: 92% !important ;
  height: 85% !important ;
  max-height: 100% !important;

  & .modal-content {
    max-width: 100% !important;

    h5 {
      margin-bottom: 4px;
    }

    & .card {
      border-radius: 10px;
      width: auto;
      margin: 5px 15px;

      & p.red-text {
        padding-top: 8px;
      }

      & a {
        margin-top: 8px;
      }
    }

    & > .row {
      margin: 0 !important;

      & .row {
        margin: 10px 0 12px 0 !important;
      }
    }
  }

  &.modal-alert {
    margin-top: 5% !important;
    width: 700px !important ;
    height: 80% !important ;
    top: 4% !important;

    & .modal-content {
      padding: 2px;
    }
  }
}

.preloaderSendMail {
  margin-top: 25px;
}

.blured_data {
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.table_contact {
  tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }

  .btn {
    text-transform: none;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  td{
    &.td_buttons_contact_phone {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      height: 100px !important;

      & .phone_number_span {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      & a {
        margin: 0;
      }
    }

    &:nth-last-child(2) {
      min-height: 74px;
    }
  }
}

td#noTeam {
  font-style: italic;
}

.page-footer{
  padding-top: 0;
  background-color: $dark_blue;
  position: absolute;
  bottom: 0;
  width: 100%;

  a {
    color: #f5f5f5;

    &:hover {
      color: #3691f8;
    }
  }
}

.missingTitle {
  font-size: 20px;
}

.cardTeamsWithoutDiv {
  padding-top: 5px;
  padding-bottom: 5px;
  border: red solid 2px;
}

.rainbow {
  background: linear-gradient(124deg, #1cb137, #075d17, #1cb137, #075d17,
          #1cb137, #075d17);
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 8s ease infinite;
  -z-animation: rainbow 8s ease infinite;
  -o-animation: rainbow 8s ease infinite;
  animation: rainbow 8s ease infinite;
}

.avatar {
  object-fit:cover;
}

#span_passwords_matching, #span_passwords_not_matching {
  margin-top: 0;
  margin-bottom: 0;
  height: 22px;
}

.fftt_api_manager {
  h4 {
    margin-top: 0;
  }

  .title_journee h3 {
    margin-bottom: 15px;
    margin-top: 15px;
  }
}

.progress {
  background-color: #135299;
}

.progress .indeterminate {
  background-color: #63aaff;
}

@-webkit-keyframes rainbow {
  0%{background-position:0 82%}
  50%{background-position:100% 19%}
  100%{background-position:0 82%}
}
@-moz-keyframes rainbow {
  0%{background-position:0 82%}
  50%{background-position:100% 19%}
  100%{background-position:0 82%}
}
@-o-keyframes rainbow {
  0%{background-position:0 82%}
  50%{background-position:100% 19%}
  100%{background-position:0 82%}
}
@keyframes rainbow {
  0%{background-position:0 82%}
  50%{background-position:100% 19%}
  100%{background-position:0 82%}
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

li {
  .collapsible-header {
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    &.collapsible-header-sidenav{
      background-color: $darken_blue !important;
    }

    .caret {
      height: 29px;
      margin-top: 8px;
      margin-right: 0;
      transition: transform 0.2s ease;
    }

    .chip {
      margin: 0;
      &:not(.chip-sidenav) {
        font-size: 14px;
      }
    }
  }
  &.active {
    .collapsible-header {
      .caret {
        &:not(.caret-sidenav) {
          transform-origin: 0.6em 0.5em;
        }
        transform: rotate(-180deg);
      }
    }
  }
}

.brand-logo {
  left: 50% !important;
}

.backoffice-table{
  th{
    padding-left: 0;
    padding-right: 0;
  }
}

.navbar-backoffice, .sidenav {
  .rotating-icon {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

.noDivisionPill {
  background-color: rgba(241,35,35, 0.2);
  border-radius: 5px;
  padding: 5px;

  &.noDivisionPillHeader {
    margin-left: 6px;
  }
}

.avatarSectionDelete {
  width: 120px;
  height: 120px;
  position: relative;
  margin: 20px auto 0;

  a {
    margin-top: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $scroll_blue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $scroll_dark_blue;
}

.dark_blue {
  color: $scroll_blue;
}

button.btn_renouveler_certif_mobile {
  display: none;
}

#ckeditor-render {
  figure.table {
    width: 100%;
    overflow-x: scroll;
  }
}

.hide-on-med-and-up.adversaireLine {
  h5.advUndefined {
    margin-top: 0;
    margin-bottom: 10px;
  }

  h5.pastille {
    margin-top: 0; margin-bottom: 10px;
  }

  div.advDefined {
    & div {
      padding-left: 0;
      padding-right: 6px;
      display: inline-block;
      vertical-align: middle;

      &:first-child h5 {
        margin-top: 8px
      }
    }

    i.material-icons {
      font-size: 1.5rem;
    }
  }
}

table.table-last-compos {
  td {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  tr {
    padding-left: 0;
    padding-right: 0;
  }
}

.virtualPointsCard {
  padding: 6px 0;
  margin-bottom: 10px;

  p {
    margin-top: 4px;
    margin-bottom: 4px;

    span:first-child {
      background-color: #0c3a69;
    }

    span:last-child {
      padding: 0;
    }
  }
}

.brulageCard {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: 1466px) {
  .right_items_navbar_general{
    .right_items_navbar {
      display: none;
    }
  }

  .sidenav-trigger.sidenav-general {
    display: block !important;
  }
}

@media screen and (max-width: 1449px) {
  .right_items_navbar_backoffice{
    .right_items_navbar {
      display: none;
    }
  }

  .sidenav-trigger.sidenav-backoffice {
    display: block !important;
  }
}

@media screen and (min-width: 1285px) {
  .exempt {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media screen and (max-width: 1167px) {
  .navbar-general{
    .left_items {
      display: none;
    }

    .esftt_logo {
      display: block;
    }
  }
}

@media screen and (max-width: 1110px) {
  .navbar-backoffice{
    .left_items {
      display: none;
    }

    .esftt_logo {
      display: block;
    }
  }
}

// md grid
@media screen and (max-width: 992px) {
  th.th_picture_compet_table{
    height: 116px;
  }

  button.btn_renouveler_certif_mobile {
    display: inline-block;
  }

  button.btn_renouveler_certif_pc {
    display: none;
  }

  td.td_picture_compet {
    padding-top: 0;
    padding-bottom: 0;
  }

  span.badge-role {
    margin-top: 12px;
  }

  .setDispoCard {
    margin-bottom: 10px;
  }

  .virtualPointsCard {
    margin-top: 10px;
  }

  .brulageCard {
    margin-top: 10px;
  }
}

@media screen and (max-width: 720px) {
  .modal {
    &.modal-alert {
      width: 96% !important;
    }
  }
}

@media screen and (max-width: 601px) {
  .modal {
    &.modal-alert {
      margin-top: 0 !important;
      height: 89% !important;
      top: 6% !important;
    }
  }

  th.th_picture_compet_table{
    height: 96px;
  }

  td.td_picture_compet {
    padding-top: 0;
    padding-bottom: 0;

    & img.picture_compet{
      width: 40px;
      height: 40px;
    }
  }

  #settings-form {
    margin-left: 10px;
  }

  #ckeditor-render {
    figure.table {
      margin: 0 !important;
    }
  }
}

@media screen and (max-width: 500px) {
  #settings-form {
    margin-left: 15px;
  }
}

@media screen and (max-width: 460px) {
  table.table-last-compos {
    font-size: 85%;

    td {
      padding: 10px 0;
    }
  }
}

@media screen and (max-width: 406px) {
  table.rankingVirtualPoints td .chip {
    padding: 0;
    img {
      display: none;
    }
  }
}

@media screen and (max-width: 381px) {
  .setDispoCard {
    h5.unsetTitle {
      font-size: 1.45em;
    }
  }
}

@media screen and (max-width: 324px) {
  .noDivisionPillHeader {
    display: none;
  }

  .noDivisionPillBody {
    display: block;
  }
}