@charset "UTF-8";
[type=checkbox].filled-in:checked + span:not(.lever):after {
  background-color: #2196f3;
  border-color: #2196f3;
}

html {
  font-family: "Lato", sans-serif;
  background: linear-gradient(135deg, #1174b8 1%, #001317 100%) fixed;
  background-size: cover;
  height: 100%;
  display: block;
}

body {
  height: 100%;
  margin: 0;
  position: relative;
}

html, body {
  scrollbar-color: #1b5fac white !important;
  scrollbar-width: thin;
}

#wrap {
  min-height: 100%;
  position: relative;
}

#main {
  position: relative;
  padding-bottom: 75px;
}

.card-panel {
  background-color: white;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-top: 20px;
}
.card-panel.bottom_0 {
  padding-top: 10px;
  padding-bottom: 6px;
}
.card-panel.backoffice-panel {
  padding: 10px;
}
.card-panel.account-card .col {
  margin-top: 20px;
}

.btn {
  margin-top: 20px;
}

.btn_form {
  margin: 0;
}

.h4_form {
  margin-top: 0;
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
}

.dispos {
  border-radius: 10px;
  background-color: white;
  float: right;
  margin-top: 10px;
  font-size: 95%;
  padding: 0;
  width: 100%;
}
.dispos a.modalAlertNoDispoSet {
  margin-top: 10px;
  margin-bottom: 10px;
}
.dispos tr:first-child th {
  padding-top: 0;
  padding-bottom: 0;
}
.dispos tbody tr > td:first-child {
  padding-right: 0;
  padding-left: 3%;
}
.dispos tbody tr > td:last-child {
  padding-left: 0;
}

div.scrollableTable {
  overflow-x: scroll;
  width: 100%;
  padding: 0;
  font-size: 90%;
  height: auto;
  margin-top: 10px;
}
div.scrollableTable tr:nth-child(odd) > td {
  background-color: #f2f2f2;
}
div.scrollableTable tr:nth-child(even) > td {
  background-color: white;
}
div.scrollableTable td:not(:first-child) {
  width: 35.6px;
}
div.scrollableTable td:first-child {
  min-width: 170px;
}
div.scrollableTable thead tr > th {
  position: sticky;
  padding: 0 5px;
  z-index: 2;
  background-color: white;
}
div.scrollableTable thead tr > :first-child {
  z-index: 3;
  left: 0;
  top: 0;
}
div.scrollableTable tbody tr > :first-child {
  position: sticky;
  z-index: 1;
  left: 0;
  padding-left: 8px;
}
.complete_compos {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 100%;
  margin-top: 10px;
}
.complete_compos h5 {
  font-size: 1.5rem;
  margin-top: 8px;
  margin-bottom: 8px;
}

thead th, h5, h4, h3, td.rank, .flash, .divisionBubble, .lobster {
  font-family: Lobster, cursive;
}

.lobster {
  font-size: 20px;
}

.flash {
  font-size: 24px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

i.iconPlace {
  font-size: 30px;
  color: #012242;
}
.btn-small i.iconPlace {
  font-size: 25px;
  color: white;
}

.setDispoCard {
  padding-top: 10px;
  padding-bottom: 10px;
}
.setDispoCard h5.unsetTitle {
  margin-top: 0;
  margin-bottom: 10px;
}

.nav-extended, .sidenav, .title_journee {
  background: #012242;
}

#menu_dropdown_champs, #menu_dropdown_contact, #collapsible-sidenav {
  width: auto !important;
  background-color: #032d56;
}
#menu_dropdown_champs li, #menu_dropdown_contact li, #collapsible-sidenav li {
  border-radius: 5px;
  margin: 2px 0 2px 2px;
  white-space: nowrap;
  width: 98% !important;
}
#menu_dropdown_champs li:hover, #menu_dropdown_contact li:hover, #collapsible-sidenav li:hover {
  background-color: #1565c0;
}

#menu_dropdown_champs, #menu_dropdown_contact {
  padding: 2px 2px;
  border-radius: 5px;
}

#collapsible-sidenav {
  padding: 0 !important;
  border-radius: 5px;
}

.nav-extended {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 120%;
}
.nav-extended .journee_passee {
  margin-left: 4px;
}

.title_journee {
  padding: 6px;
}
.title_journee h4 {
  font-size: 2.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

li, p, .btn, label, nav ul a, .card-panel .bottom_0, .tab a {
  font-size: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-wrapper li a {
  font-size: 17px;
}

.nav-wrapper li a, .sidenav li a, .poule, .card-panel h5, .complete_compos h5, h6, .lobster_2 {
  font-family: "Lobster Two", cursive;
}

.sidenav li a, .chip-sidenav {
  font-size: 17px;
}

.chip {
  font-size: 16px;
  background-color: transparent;
  height: 40px;
  line-height: 40px;
  color: black;
}
.chip img {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.cardJoueursBrules {
  margin-top: 20px;
  padding: 10px 0 6px;
}
.cardJoueursBrules h5 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.chip-menu {
  vertical-align: middle !important;
  padding-right: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0;
}
.chip-menu img {
  height: 35px;
  width: 35px;
  object-fit: cover;
  background-color: white;
}

.chip-mobile img {
  margin-top: 6px !important;
  margin-right: 25px !important;
}

i {
  vertical-align: bottom;
}
i.campaign {
  font-size: 1.5rem;
}

.divisionBubble {
  background: #012242;
  text-align: center;
  border-radius: 50%;
  padding: 8px 10px;
}

.whatsapp_btn {
  background-color: #25d366;
  padding: 0;
}
.whatsapp_btn img {
  padding: 5px 8px;
}

#slide-out .collapsible .li_in_line {
  background-color: #012242;
}
#slide-out .collapsible .li_in_line a:hover {
  background-color: #1565c0;
}

.li_in_line {
  border-radius: 5px;
  padding-left: 0;
  padding-right: 0;
}
.li_in_line:hover {
  background-color: #1565c0;
  border-radius: 5px;
}
.li_in_line.deconnexion > a:hover {
  background-color: #f15454;
  border-radius: 5px;
}
.nav-wrapper .li_in_line {
  margin-left: 2px;
  margin-right: 2px;
}
.sidenav .li_in_line {
  margin: 4px;
}

.header_compo, .form_div_list div:last-child, .bottom_0 {
  margin-bottom: 0;
}

p.lobster {
  margin-top: 0;
}

.btn_gestion {
  margin-top: 5px;
}

.rank.rank_blue, .light_blue {
  color: #1565c0;
}

button.renew_certif_table {
  width: 27px !important;
  height: 27px !important;
}
button.renew_certif_table i {
  font-size: 14px;
  top: -2px;
  position: relative;
}

.divider_custom {
  height: 0.15em;
  background: #1565c0;
}

#ckeditor-render {
  word-wrap: break-word;
  hyphens: auto;
  padding: 10px;
}
#ckeditor-render figure.table {
  width: 100%;
  overflow-x: scroll;
  margin-left: 0;
}
#ckeditor-render li {
  padding-left: 0;
}

.collapsible {
  border: none;
  box-shadow: none !important;
}
.collapsible .collapsible-body {
  border: none;
  padding: 0 5px;
}
.collapsible.backoffice_disponibilites {
  margin-top: 6px;
  margin-bottom: 6px;
}
.collapsible.backoffice_disponibilites button.btn {
  margin-top: 0;
}
.collapsible.backoffice_archives img {
  opacity: 60%;
}
.collapsible.backoffice_disponibilites, .collapsible.backoffice_archives {
  margin-top: 6px;
  margin-bottom: 6px;
}
.collapsible.backoffice_disponibilites .collapsible-header, .collapsible.backoffice_archives .collapsible-header {
  padding-top: 6px;
  padding-bottom: 6px;
}
.collapsible.backoffice_disponibilites .collapsible-header .chip, .collapsible.backoffice_archives .collapsible-header .chip {
  margin: 0;
}
.collapsible.backoffice_disponibilites .collapsible-body, .collapsible.backoffice_archives .collapsible-body {
  background-color: white;
}
.collapsible.backoffice_disponibilites .collapsible-body .row, .collapsible.backoffice_archives .collapsible-body .row {
  margin: 0 10px 0 0;
}
.collapsible.backoffice_disponibilites .collapsible-body .row:first-child, .collapsible.backoffice_archives .collapsible-body .row:first-child {
  margin-top: 0;
}

.tabs .tab a {
  color: black;
}
.tabs .tab a:hover {
  color: black;
}
.tabs .tab a.active {
  background-color: rgba(128, 128, 128, 0.5);
  color: #000;
}
.tabs .indicator {
  background-color: black;
}

.poule {
  font-size: 1.3rem;
  margin-top: 3%;
  margin-bottom: 5px;
}

.nav-wrapper li:first-child {
  margin-left: 0.6rem;
}
.nav-wrapper li:last-child {
  margin-right: 0.6rem;
}

.dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: inline-block;
}

.pastilleDispos {
  font-size: 100%;
  max-width: 70px;
  margin-left: 8px !important;
}

.dot1 {
  background-color: #2db009;
}

.dot2 {
  background-color: red;
}

.dot3 {
  background-color: #918c8c;
}

.first_sidenav {
  margin-top: 5px;
}
.first_sidenav .journee.li_in_line a {
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}
.first_sidenav .journee.li_in_line a i {
  margin-right: 0;
}
.first_sidenav .journee.li_in_line a .dot {
  position: relative;
  top: 45%;
  width: 6px;
  height: 6px;
}
.first_sidenav .collapsible-header {
  border-radius: 5px;
}

.titre_edit_journée {
  margin-bottom: 40px;
}

li.error {
  color: red;
}

.switch label {
  color: black;
}
.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #1174b8;
}
.switch label input[type=checkbox]:checked + .lever {
  background-color: rgba(17, 116, 184, 0.5);
}
.switch label input[type=checkbox] + .lever:after {
  background-color: #1174b8;
}
.switch label input[type=checkbox] + .lever {
  background-color: rgba(17, 116, 184, 0.5);
}

.form_div_list .dropdown-content li:first-child > span {
  color: gray;
  font-style: italic;
}

form h5 {
  font-size: 1.3rem;
}

.issue .row {
  margin-bottom: 0;
}

.uppercase {
  text-transform: uppercase;
}

.titlecase .select-dropdown.dropdown-trigger, .titlecase .dropdown-content.select-dropdown {
  text-transform: capitalize;
}

.input_file .file-field.input-field {
  margin-left: 20%;
  margin-right: 20%;
}

.pastille {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 30px;
  color: white;
}
.pastille.reset, .pastille.centered {
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  border-radius: 15px;
}

.virtualRankButtons {
  display: flex;
  justify-content: space-evenly;
}

.virtualPointsDiv {
  display: flex;
  justify-content: space-between;
}
.virtualPointsDiv h6 {
  margin-top: 0;
  margin-bottom: 0;
}
.virtualPointsDiv span {
  width: 15%;
}

span.virtualPoints {
  background-color: #0c3a69;
}

table.rankingVirtualPoints {
  font-size: 13px !important;
}
table.rankingVirtualPoints td {
  padding-left: 0;
  padding-right: 0;
}
table.rankingVirtualPoints td.td-name {
  display: none;
}
table.rankingVirtualPoints td i {
  vertical-align: middle;
  font-size: 20px;
}
table.rankingVirtualPoints td .chip {
  padding-right: 0;
  margin-bottom: 0;
  margin-left: 4px;
}
table.rankingVirtualPoints td .chip .nom {
  font-size: 13px !important;
}

.tooltipped {
  cursor: pointer;
}

.exempt {
  margin-left: 50px;
  margin-right: 50px;
}

.gold-color {
  color: #ecc70a;
}

.silver-color {
  color: #C0C0C0;
}

.bronze-color {
  color: #CD7F32;
}

.modal {
  width: 92% !important;
  height: 85% !important;
  max-height: 100% !important;
}
.modal .modal-content {
  max-width: 100% !important;
}
.modal .modal-content h5 {
  margin-bottom: 4px;
}
.modal .modal-content .card {
  border-radius: 10px;
  width: auto;
  margin: 5px 15px;
}
.modal .modal-content .card p.red-text {
  padding-top: 8px;
}
.modal .modal-content .card a {
  margin-top: 8px;
}
.modal .modal-content > .row {
  margin: 0 !important;
}
.modal .modal-content > .row .row {
  margin: 10px 0 12px 0 !important;
}
.modal.modal-medium {
  margin-top: 5% !important;
  width: 700px !important;
  height: 80% !important;
  top: 4% !important;
}
.modal.modal-medium .modal-content {
  padding: 2px;
}
.modal.modal-small {
  width: 45% !important;
}
.modal.modal-small .modal-gps h5 {
  margin-top: 0;
  margin-bottom: 10px;
}
.modal.modal-small .modal-gps h6 {
  font-size: 20px;
}
.modal.modal-small .modal-gps a.btn.phone {
  margin-top: 0;
}
.modal.modal-small .modal-gps p.complAdr {
  margin: 0;
}
.modal.modal-small .modal-gps .btn-gps p.adr {
  margin: 0;
}
.modal.modal-small .modal-gps .btn-gps p.adr {
  margin-top: 4px;
}
.modal.modal-small .modal-gps .btn-gps .row_btns {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
.modal.modal-small .modal-gps .btn-gps .row_btns p {
  margin-top: 5px;
}
.modal.modal-small .modal-gps .btn-gps .row_btns .card.grey {
  padding: 5px 10px 10px 10px;
  margin: 5px 10px;
  min-width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.modal.modal-small .modal-gps .btn-gps .row_btns .card.grey:nth-child(2) a.btn-small {
  background-color: #3cf;
}
.modal.modal-small .modal-gps .btn-gps .row_btns .card.grey button.btn-small {
  margin-top: 8px;
}
.modal.modal-small .modal-gps .btn-gps .row_btns .card.grey i {
  font-size: 21px;
}
.modal.modal-small .modal-gps .btn-gps .row_btns .card.grey img {
  width: 26px;
  aspect-ratio: auto;
  margin-top: 3px;
}
.modal.modal-small .modal-gps .telephoneDiv {
  display: flex;
  justify-content: center;
}
.modal.modal-small .modal-gps .telephoneDiv div {
  margin: 0 5px;
}

.preloaderSendMail {
  margin-top: 25px;
}

.blured_data {
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.table_contact tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
.table_contact tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
.table_contact .btn {
  text-transform: none;
  margin-top: 2px;
  margin-bottom: 2px;
}
.table_contact td.td_buttons_contact_phone {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.table_contact td.td_buttons_contact_phone a {
  margin: 0;
}

.responsive-phone-num {
  margin-top: 20px;
}

td#noTeam {
  font-style: italic;
}

.page-footer {
  padding-top: 0;
  background-color: #012242;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.page-footer a {
  color: #f5f5f5;
}
.page-footer a:hover {
  color: #3691f8;
}

.missingTitle {
  font-size: 20px;
}

.cardTeamsWithoutDiv {
  padding-top: 5px;
  padding-bottom: 5px;
  border: red solid 2px;
}

.rainbow {
  background: linear-gradient(124deg, #1cb137, #075d17, #1cb137, #075d17, #1cb137, #075d17);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 8s ease infinite;
  -z-animation: rainbow 8s ease infinite;
  -o-animation: rainbow 8s ease infinite;
  animation: rainbow 8s ease infinite;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
}

#span_passwords_matching, #span_passwords_not_matching {
  margin-top: 0;
  margin-bottom: 0;
  height: 22px;
}

.fftt_api_manager h4 {
  margin-top: 0;
}
.fftt_api_manager .title_journee h3 {
  margin-bottom: 15px;
  margin-top: 15px;
}

.progress {
  background-color: #135299;
}

.progress .indeterminate {
  background-color: #63aaff;
}

table.classementPoule td {
  padding: 14px 5px;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0 82%;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
li .collapsible-header {
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
li .collapsible-header.collapsible-header-sidenav {
  background-color: #021931 !important;
}
li .collapsible-header .caret {
  height: 29px;
  margin-top: 8px;
  margin-right: 0;
  transition: transform 0.2s ease;
}
li .collapsible-header .chip {
  margin: 0;
}
li .collapsible-header .chip:not(.chip-sidenav) {
  font-size: 14px;
}
li.active .collapsible-header .caret {
  transform: rotate(-180deg);
}
li.active .collapsible-header .caret:not(.caret-sidenav) {
  transform-origin: 0.6em 0.5em;
}

.brand-logo {
  left: 50% !important;
}

.backoffice-table th {
  padding-left: 0;
  padding-right: 0;
}

.rotating-icon {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.noDivisionPill {
  background-color: rgba(241, 35, 35, 0.2);
  border-radius: 5px;
  padding: 5px;
}
.noDivisionPill.noDivisionPillHeader {
  margin-left: 6px;
}

.markdown_content li::before {
  padding-left: 8px;
  content: "- ";
}

.avatarSectionDelete {
  width: 120px;
  height: 120px;
  position: relative;
  margin: 20px auto 0;
}
.avatarSectionDelete a {
  margin-top: 0;
  position: absolute;
  top: 0;
  right: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1b5fac;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0d427f;
}

.dark_blue {
  color: #1b5fac;
}

button.btn_renouveler_certif_mobile {
  display: none;
}

.hide-on-med-and-up.adversaireLine h5.advUndefined {
  margin-top: 0;
  margin-bottom: 10px;
}
.hide-on-med-and-up.adversaireLine h5.pastille {
  margin-top: 0;
  margin-bottom: 10px;
}
.hide-on-med-and-up.adversaireLine div.advDefined div {
  padding-left: 0;
  padding-right: 6px;
  display: inline-block;
  vertical-align: middle;
}
.hide-on-med-and-up.adversaireLine div.advDefined div:first-child h5 {
  margin-top: 8px;
}
.hide-on-med-and-up.adversaireLine div.advDefined i.material-icons {
  font-size: 1.5rem;
}

table.table-last-compos td {
  padding-top: 10px;
  padding-bottom: 10px;
}
table.table-last-compos tr {
  padding-left: 0;
  padding-right: 0;
}

.virtualPointsCard {
  padding: 6px 0;
  margin-bottom: 10px;
  font-size: 14px;
}
.virtualPointsCard p {
  margin-top: -1px;
  margin-bottom: 2px;
}
.virtualPointsCard p span:last-child {
  padding: 0;
}
.virtualPointsCard p.error {
  margin: 5.5px 0;
}

.brulageCard {
  padding-left: 0;
  padding-right: 0;
}

#aide_page h1 {
  margin-top: 0;
}
#aide_page h1, #aide_page h2, #aide_page h4 {
  font-family: Lobster, cursive;
}
#aide_page h4 {
  font-size: 2rem;
}
#aide_page strong {
  font-weight: bold;
}
#aide_page ul > li {
  margin-top: 5px;
  margin-bottom: 5px;
}
#aide_page ul > li > ul > li:before {
  content: "▶ ";
  font-size: 80%;
  padding-left: 15px;
}
#aide_page .link_jumper {
  cursor: pointer;
}

#title_points_virtuels {
  vertical-align: sub;
}

.lien_court {
  display: none;
}

.merged_cards.up.leftOne {
  margin-top: 10px;
}

.divProfileCompletionCol {
  margin-top: 0 !important;
}
.divProfileCompletionCol .divProfileCompletion {
  background-color: #ffebd7;
  border: 1px solid #fc780b;
  border-radius: 10px;
}
.divProfileCompletionCol .divProfileCompletion .progress {
  margin-bottom: 7px;
}
.divProfileCompletionCol .divProfileCompletion p {
  font-size: 15px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.divProfileCompletionCol .divProfileCompletion ul {
  margin-top: 0;
  margin-bottom: 6px;
}
.divProfileCompletionCol .divProfileCompletion .champsManquants p, .divProfileCompletionCol .divProfileCompletion .champsManquants li {
  font-size: 13px;
  margin: 0;
}

span.field-icon {
  float: right;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  z-index: 2;
}

.christmas_code {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  margin: 6px 6px !important;
  font-weight: bold;
  background-color: red;
}
.christmas_code.golden {
  background-color: gold !important;
  color: black;
}

.preloader-wrapper.tiny {
  width: 26.24px;
  height: 26.24px;
}

.editor_variable_highlighted {
  background-color: #a7d6ff;
  border-radius: 8px;
  padding: 2px 2px 3px 2px;
}

.preloader_personnal_virtual_rank canvas {
  position: relative;
  left: 5px;
  top: 7px;
}

.buttonGroup button {
  height: 20px;
  line-height: 20px;
  border-radius: 0;
  font-size: 80%;
  padding: 0 7px;
  margin: 10px 0;
  background-color: #2196f3;
}
.buttonGroup button:hover {
  background-color: #64b5f6 !important;
}
.buttonGroup button.firstBtnVirtualPoints {
  border-radius: 8px 0 0 8px;
}
.buttonGroup button.firstBtnVirtualPoints.withMiddle {
  right: -3px !important;
}
.buttonGroup button.lastBtnVirtualPoints {
  left: -3px !important;
  border-radius: 0 8px 8px 0;
}

a.reload_ranking {
  position: absolute;
  right: 8px;
  top: 8px;
}

.navbar-general .left_items .dot {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 6px;
  height: 6px;
}

@media screen and (max-width: 1466px) {
  .right_items_navbar_general .right_items_navbar {
    display: none;
  }

  .sidenav-trigger.sidenav-general {
    display: block !important;
  }
}
@media screen and (max-width: 1449px) {
  .right_items_navbar_backoffice .right_items_navbar {
    display: none;
  }

  .sidenav-trigger.sidenav-backoffice {
    display: block !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1357px) {
  .preloader_personnal_virtual_rank {
    padding-top: 5px;
  }
}
@media screen and (min-width: 1285px) {
  .exempt {
    margin-left: 80px;
    margin-right: 80px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1171px) {
  a#modalAlertNoDispoSetpcStyle {
    margin-top: 0;
  }
}
@media screen and (max-width: 1167px) {
  .navbar-general .left_items {
    display: none;
  }
  .navbar-general .esftt_logo {
    display: block;
  }
}
@media screen and (max-width: 1128px) {
  .navbar-backoffice .left_items {
    display: none;
  }
  .navbar-backoffice .esftt_logo {
    display: block;
  }
}
@media screen and (max-width: 1090px) {
  #title_points_virtuels {
    font-size: 15px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 992px) {
  .th_mobile_pts_off {
    padding-top: 38px;
  }

  .th_mobile_nom {
    padding-top: 26px;
  }

  th.th_picture_compet_table {
    height: 116px;
  }

  button.btn_renouveler_certif_mobile {
    display: inline-block;
  }

  button.btn_renouveler_certif_pc {
    display: none;
  }

  td.td_picture_compet {
    padding-top: 0;
    padding-bottom: 0;
    height: 55px;
  }

  .setDispoCard {
    margin-bottom: 20px;
  }

  .virtualPointsCard {
    margin-top: 10px;
  }
  .virtualPointsCard p {
    margin-top: -2px;
    margin-bottom: 4px;
  }

  .brulageCard {
    margin-top: 10px;
  }

  table.composition-equipe tbody td {
    padding: 6px 5px;
  }

  .responsive-phone-num {
    margin-top: 0;
  }

  .backoffice_disponibilites table.table-backoffice-disponibilites tbody td {
    padding: 5px;
  }
  .backoffice_disponibilites .row {
    width: min-content;
  }

  table.recapitulatifDispos tbody td {
    height: 51px;
  }

  .col_infos_licence {
    margin-top: 5px !important;
  }

  .fixed-action-btn {
    bottom: 0;
    top: 2px;
  }

  .merged_cards {
    -webkit-box-shadow: none;
  }
  .merged_cards.up {
    border-radius: 10px 10px 0 0 !important;
  }
  .merged_cards.bottom {
    border-radius: 0 0 10px 10px !important;
    margin-top: 0 !important;
  }
  .merged_cards.bottom table thead th h5 {
    margin-top: 0;
  }
}
@media screen and (max-width: 850px) {
  .modal.modal-small {
    width: 96% !important;
  }
}
@media screen and (max-width: 720px) {
  .modal.modal-medium {
    width: 96% !important;
  }
}
@media screen and (max-width: 601px) {
  .modal.modal-medium, .modal.modal-small {
    margin-top: 0 !important;
    height: 89% !important;
    top: 6% !important;
  }

  th.th_picture_compet_table {
    height: 96px;
  }

  td.td_picture_compet {
    padding-top: 0;
    padding-bottom: 0;
    height: 40px;
  }
  td.td_picture_compet img.picture_compet {
    width: 40px;
    height: 40px;
  }

  #settings-form {
    margin-left: 10px;
  }

  #ckeditor-render figure.table {
    margin: 0 !important;
  }

  .fixed-action-btn {
    bottom: 0;
    top: -2px;
  }
}
@media screen and (max-width: 550px) {
  #bo_mail_certif_medic_perim {
    margin-top: 5px;
  }
}
@media screen and (max-width: 540px) {
  .lien_long {
    display: none;
  }

  .lien_court {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  #settings-form {
    margin-left: 15px;
  }
}
@media screen and (max-width: 460px) {
  table.table-last-compos {
    font-size: 85%;
  }
  table.table-last-compos td {
    padding: 10px 0;
  }
}
@media screen and (max-width: 411px) {
  table.rankingVirtualPoints td .chip {
    padding: 0;
  }
  table.rankingVirtualPoints td .chip img {
    display: none;
  }
  table.rankingVirtualPoints td.td-chip {
    display: none;
  }
  table.rankingVirtualPoints td.td-name {
    display: table-cell;
    max-width: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  table.rankingVirtualPoints td.td-name.pl5 {
    padding-left: 5px;
  }
  table.rankingVirtualPoints td.points-td {
    min-width: 82px;
    max-width: 82px;
    width: 82px;
  }
  table.rankingVirtualPoints td.progression-td {
    width: 48px;
    padding-left: 0;
  }
  table.rankingVirtualPoints td.progression-td:nth-child(1) {
    width: 39px;
  }
}
@media screen and (max-width: 381px) {
  .setDispoCard h5.unsetTitle {
    font-size: 1.45em;
  }
}
@media screen and (min-width: 351px) and (max-width: 430px) {
  a.reload_ranking {
    top: 6px;
    right: 6px;
  }
}
@media screen and (max-width: 350px) {
  a.reload_ranking {
    display: none;
  }
}
@media screen and (max-width: 344px) {
  .virtualRankButtons {
    font-size: 13px;
  }
}
@media screen and (max-width: 330px) {
  #collapsible_selectionnable_plus_1 {
    font-size: 18px;
  }
}
@media screen and (max-width: 325px) {
  .virtualRankButtons {
    flex-direction: column;
  }
  .virtualRankButtons .buttonGroup:first-child button {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 324px) {
  .noDivisionPillHeader {
    display: none;
  }

  .noDivisionPillBody {
    display: block;
  }
}
@media screen and (max-width: 307px) {
  #collapsible_selectionnable_plus_1 {
    font-size: 16px;
  }
}
@media screen and (max-width: 283px) {
  #collapsible_selectionnable_plus_1 {
    font-size: 14px;
  }
}
@media screen and (max-width: 260px) {
  #collapsible_selectionnable_plus_1 {
    font-size: 12px;
  }
}
@media screen and (max-width: 237px) {
  #collapsible_selectionnable_plus_1 {
    font-size: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
