<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Kompo</title>
        <link rel="stylesheet" href="{{ asset('CSS/materialize-v1.0.0/materialize/css/materialize.min.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('CSS/style.css') }}" media="screen,projection" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Lato&display=swap">
    </head>

    <style>
        .container {
            background-color: white;
        }
        p, .divider {
            color: #0d427f;
        }
    </style>

    <body>
        <div class="container">
            <div class="divider"></div>
            <p>Bienvenue sur Kompo Rémy ! 🏓</p>
            <p>Notre club de La Frette vous a inscrit sur Kompo, afin que vous puissiez suivre les matches de nos équipes et signaler vos disponiblités pour chacunes des journées de championnat.</p>
            <p>Une page d'aide est disponible <a href="https://www.prive.esftt.com/aide">ici</a> pour tout vous expliquer.</p>
            <p>Pour toute question, n'hésitez pas à aller dans la page Contacter et prendre contact avec nos administrateurs et/ou capitaines.</p>
        </div>
    </body>
</html>