<p>Bienvenue sur Kompo {{ options.prenom }} ! 🏓</p>
<p>Notre club de {{ options.club_name }} vous a inscrit sur Kompo, afin que vous puissiez :<br>
    - signaler vos disponiblités pour chacune des journées de championnat;<br>
    - savoir dans quelle équipe vous êtes sélectionné;<br>
    - suivre les classements virtuels des compétiteurs en temps réèl;<br>
    - suivre les classements de nos équipes dans leurs poules;<br>
    - visualiser les précédentes compositions d'équipe des adversaires;<br>
    - contacter les membres du club par email et SMS;<br>
    ... et plein d'autres fonctionnalités, n'hésitez pas à visiter 😊 !
</p>
<p>Kompo est accessible en suivant <a href="https://www.prive.esftt.com">ce lien</a>. <a href="https://www.prive.esftt.com/aide">Une page d'aide</a> est disponible pour tout vous expliquer.</p>
<p>Votre pseudo pour vous connecter à Kompo : <b>{{ options.pseudo }}</b>. Le mot de passe vous sera transmis par le club.</p>
<p>C'est dans l'espace <a href="https://www.prive.esftt.com/compte">Mon compte</a> que vous pouvez modifier vos informations
    personnelles telles que vos adresses email et numéros de téléphone (les cases <b>Contactable</b> déterminent si vous souhaitez que vos
    informations de contact (email <b>et/ou</b> téléphone) soient accessibles par tous dans l'espace <a href="https://www.prive.esftt.com/contact">Contacter</a>, ainsi que d'être alerté
    de votre sélection dans une équipe par un capitaine), votre pseudo, votre mot de passe <b>(il est fortement conseillé de le modifier
        si votre compte vient d'être créé)</b>, la validité de votre certificat médical, etc ...</p>
<p>Pour toute question, n'hésitez pas à aller dans l'espace <a href="https://www.prive.esftt.com/contact">Contacter</a> et prendre contact avec nos administrateurs et nos capitaines.</p>
<p>Pongistement,</p>
<p>L'équipe de Kompo</p>