<style>
    .divider_custom {
        margin-top: 25px;
        height: 1px;
        width: 350px;
        background: grey;
    }
</style>

<div class="container">
    <h2>Bonjour</h2>
    <p>Vous recevez ce mail car vous avez oublié votre mot de passe.</p>
    <p>Cliquez sur ce <a href='https://www.prive.esftt.com/login/reset_password?tokenCheck={{ message }}&dateValidation={{ "now"|date_modify("+2 hour")|date("U") }}'>lien</a> pour réinitialiser votre mot de passe.</p>
    <p>Vous avez 1 heure pour effectuer l'opération. Ce délai passé, le lien deviendra inactif.</p>

    <div class="divider_custom" style="margin-top: 20px;"></div>

    <p class="center" style="color: grey">Email envoyé depuis <a href="https://www.prive.esftt.com">Kompo</a></p>
    <p class="center" style="color: grey">Modifiez vos paramètres de contact <a href="{{ url('account') }}">ici</a></p>
</div>