{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/form/rencontre.html.twig' as _rencontre %}
{% form_theme form 'components/materialize_form_theme.html.twig' %}

{% block title %}Modifier la rencontre{% endblock %}

{% block body %}

    <header>
        {% include("components/navbar_backoffice.html.twig") %}
    </header>

    <div class="container">
        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        {{ _rencontre.form(rencontre, form, domicile, idJournee) }}
    </div>

{% endblock %}