{% macro classement(classement) %}

    <h5 class="center-align">Le classement de la poule sera bientôt disponible ;)</h5>
    {# <table class="striped">
        <tbody>
        <tr>
            <td class="rank center"><b>1</b></td>
            <td>Saint Martin du Tertre</td>
            <td>12</td>
            <td><span class="green-text">3</span>/<span class="red-text">4</span></td>
        </tr>
        <tr>
            <td class="rank center"><b>2</b></td>
            <td>Herblay</td>
            <td>12</td>
            <td><span class="green-text">3</span>/<span class="red-text">4</span></td>
        </tr>
        <tr>
            <td class="rank center"><b>3</b></td>
            <td>Herblay</td>
            <td>12</td>
            <td><span class="green-text">3</span>/<span class="red-text">4</span></td>
        </tr>
        <tr>
            <td class="rank center"><b>4</b></td>
            <td>Herblay</td>
            <td>12</td>
            <td><span class="green-text">3</span>/<span class="red-text">4</span></td>
        </tr>
        <tr>
            <td class="rank center"><b>5</b></td>
            <td>Herblay</td>
            <td>12</td>
            <td><span class="green-text">3</span>/<span class="red-text">4</span></td>
        </tr>
        <tr>
            <td class="rank center"><b>6</b></td>
            <td>Herblay</td>
            <td>12</td>
            <td><span class="green-text">3</span>/<span class="red-text">4</span></td>
        </tr>
        <tr>
            <td class="rank center"><b>7</b></td>
            <td>Herblay</td>
            <td>12</td>
            <td><span class="green-text">3</span>/<span class="red-text">4</span></td>
        </tr>
        <tr>
            <td class="rank center"><b>8</b></td>
            <td>Herblay</td>
            <td>12</td>
            <td><span class="green-text">3</span>/<span class="red-text">4</span></td>
        </tr>
        </tbody>
    </table> #}
{% endmacro %}