<style>
    .divider_custom {
        margin-top: 25px;
        height: 2px;
        width: 350px;
        background: grey;
    }
</style>

<div class="container">
    <p>{{ message }}</p>

    <div class="divider_custom" style="margin-top: 20px;"></div>

    <p class="center" style="color: grey">Modifier vos paramètres de contact <a href="{{ path('account') }}">ici</a></p>
</div> 