<div class="container">
    <h4 class="center-align">{{ title }}</h4>

    <p class="center-align">{{ message }}</p>

    <div class="divider"></div>

    <p><b><i>Vous pouvez configurer les notifications dans "Compte" sur Kompo (https://www.prive.esftt.com).<br>
                Vous pouvez définir jusqu'à 2 adresses mail et 2 numéros de téléphone.<br><br>
                Vos données personnelles ne sont pas publiquement visibles sur le site. Vous n'êtes contacté uniquement lorsque l'un des capitaines souhaite vous prévenir de votre sélection dans une équipe.</i></b></p>
</div> 