{% macro message(message, color) %}
    <div class="card-panel center-align white-text {{ color }} {{ color != 'orange' ? 'lighten-1 ' : 'darken-1 ' }}title_journee">
        <p class="flash">{{ message | raw }}</p>
    </div>
{% endmacro %}