{% macro btnCreateEditCompo(type, idCompo, text, color) %}
    <a href="{{ path('composition.edit', {type: type, compo: idCompo}) }}" class="center-align btn waves-effect waves-light {{ color }} lighten-2">
        {{ text }}
    </a>
{% endmacro %}

{% macro btnEmptyCompo(type, idCompo) %}
    <a onclick="return confirm('Etes-vous bien sûr de vider la compo ?')" class="center-align btn waves-effect waves-light red lighten-2" href="{{ path('composition.vider', {type: type, id: idCompo, fromTemplate: true}) }}">
        <i class="material-icons">delete</i>Vider
    </a>
{% endmacro %}

{% macro btnContact(type, idCompo) %}
    <a data-position="right" data-tooltip="Pas encore disponible ;)" class="tooltipped center-align btn waves-effect waves-light green lighten-2 white-text">
        <i class="material-icons">sms_failed</i> Prévenir les joueurs
    </a>
{% endmacro %}