{% macro table(journees, type) %}
    <table class="striped centered">
        <thead>
            <tr>
                <th>Journée n°</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for journee in journees %}
                <tr>
                    <td><b>{{ journee.idJournee }}</b></td>
                    <td>
                        {% if journee.undefined %} <p class="red-text"><b>Indéterminée</b></p>
                        {% else %} {{ journee.date|format_datetime('long', 'none', locale='fr') }}
                        {% endif %}
                    </td>
                    <td><a href="{{ path('backoffice.phase.edit', {idJournee: journee.idJournee, type: type}) }}" class="btn waves-effect waves-light blue lighten-2 btn_gestion"><i class="material-icons">edit</i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}