{% macro labelVirtualPoints(tooltipPosition, id) %}
    <div class="card-panel bottom_0 virtualPointsCard">
        <div class="virtualPointsDiv">
            <span style="margin-left: 6px"><a onclick="getGeneralClassementsVirtuels()" class="btn-small btn-floating blue lighten-1 waves-effect modal-trigger" href="#rankingVirtualPoints"><i class="material-icons">trending_up</i></a></span>
            <h6 class="lobster_2"><b id="title_points_virtuels">Points virtuels</b></h6>
            <span><i class="material-icons blue-text text-darken-1 tooltipped interaction" data-position="{{ tooltipPosition }}" data-tooltip="Points virtuels en temps réel, calculés à partir des points mensuels des adversaires (légers écarts possibles), dès que les rencontres sont saisies sur SPID. Points réèls connus en début de mois.">help_outline</i></span>
        </div>
        <div class="preloader_personnal_virtual_rank" id="{{ id }}">
            <div class="preloader-wrapper active tiny">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}