{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as flash %}
{% import 'macros/edit/rencontre.html.twig' as edit %}
{% form_theme form 'components/materialize_form_theme.html.twig' %}

{% block title %}Modifier la rencontre{% endblock %}

{% block body %}

    {% include("components/navbar_backoffice.html.twig") %}

    <div class="container">

        {% for message in app.flashes('success') %}
            {{ flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ flash.message(message, 'red') }}
        {% endfor %}

        {{ edit.rencontre(idJournee, type, idEquipe, date, form) }}
    </div>

{% endblock %}