{% extends 'base.html.twig' %}

{% block title %}Les tournois officiels{% endblock %}

{% block body %}

    <header>
        {% include("components/navbar.html.twig") %}
        <script type="text/javascript" src="{{ asset('JS/getListeTournois.min.js') }}"></script>
    </header>

    <div class="container" id="settings-page">
        <div class="card-panel center-align white-text title_journee">
            <h4 style="font-family: Lobster, cursive">Les tournois officiels</h4>
        </div>

        <div class="card-panel">
            <button onclick="getListeTournois();">GET</button>
            <div id="listTournois" class="hide"></div>
        </div>

        <script type="text/javascript">
            getListeTournois();
        </script>
    </div>
{% endblock %}