{% extends 'base.html.twig' %}

{% block title %}Les tournois officiels{% endblock %}

{% block body %}

    <header>
        {% include("components/navbar" ~ (isBackOffice ? '_backoffice' : '') ~ ".html.twig") %}
        <script type="text/javascript" src="{{ asset('JS/getListeTournois.min.js') }}"></script>
    </header>

    <div class="container" id="settings-page">
        <div class="card-panel center-align white-text title_journee">
            <h4 style="font-family: Lobster, cursive">Les tournois officiels</h4>
        </div>

        <div class="card-panel" style="padding: 0 10px;">
            <div id="listTournois" class="center">
                <div class="preloader-wrapper small active" style="margin-top: 12px; margin-bottom: 6px;">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">getListeTournois();</script>
    </div>
{% endblock %}