{% if disponibilite == 1 %}
    <p style="margin-top: 0; margin-bottom: 0;"><i>Joueur <span class="green-text"><b>disponible</b></span></i></p>
    <a onclick="return confirm('Le joueur pourrait être désélectionné pour cette journée. Êtes-vous sûr ?')"
       href="{{ path('backoffice.disponibilite.update', {idCompetiteur: idCompetiteur, idDispo: idDisponibilite, dispo: 0}) }}">
        <button class="btn waves-effect red lighten-2 btn_gestion" type="submit" name="action">Déclarer indisponible</button>
    </a>
{% else %}
    <p style="margin-top: 0; margin-bottom: 0;"><i>Joueur <span class="red-text"><b>indisponible</b></span></i></p>
    <a href="{{ path('backoffice.disponibilite.update', {idCompetiteur: idCompetiteur, idDispo: idDisponibilite, dispo: 1}) }}">
        <button class="btn waves-effect green lighten-2 btn_gestion" type="submit" name="action">Déclarer disponible</button>
    </a>
{% endif %}