{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/edit/journee.html.twig' as edit %}
{% form_theme form 'components/materialize_form_theme.html.twig' %}

{% block title %}Modifier la journée de phase{% endblock %}

{% block body %}

    {% include("components/navbar_backoffice.html.twig") %}

    <div class="container">
        {{ edit.journee(type, idJournee, form) }}
    </div>

{% endblock %}