{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/form/journee.html.twig' as _journee %}
{% form_theme form 'components/materialize_form_theme.html.twig' %}

{% block title %}Modifier la journée{% endblock %}

{% block body %}

    {% include("components/navbar_backoffice.html.twig") %}

    <div class="container">
        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        {{ _journee.form(form, iJournee, championnat) }}
    </div>

{% endblock %}