{% extends 'base.html.twig' %}

{% block title %}Page d'aide de Kompo{% endblock %}

{% block body %}
    <script type="text/javascript">
        function jumpTo(anchor) {
            window.location.href = '#' + anchor;
            $(window).scrollTop($(window).scrollTop()-80);
        }
    </script>

    <header>
        {% include("components/navbar" ~ (isBackOffice ? '_backoffice' : '') ~ ".html.twig") %}
    </header>

    <div class="container" id="aide_page">

        <div class="card-panel center-align white-text title_journee">
            <h4 style="font-family: Lobster, cursive">Page d'aide de Kompo</h4>
        </div>

        <div class="card-panel">
            <h3 style="margin-top: 0;">Aller à ...</h3>

            <ul style="margin-left: 15px;">
                <li><a onclick="jumpTo('resume')" class="link_jumper">En résumé ...</a></li>
                <li><a onclick="jumpTo('page_de_connexion')" class="link_jumper">Page de connexion</a></li>
                <li><a onclick="jumpTo('page_accueil')" class="link_jumper">Page d'accueil</a></li>
                <li><a onclick="jumpTo('page_de_connexion')" class="link_jumper">Mot de passe oublié</a></li>
                <li><a onclick="jumpTo('barre_navigation')" class="link_jumper">Barre de navigation</a>
                    <ul>
                        <li><a onclick="jumpTo('les_journees')" class="link_jumper">Les journées</a></li>
                        <li><a onclick="jumpTo('naviguer_championnats')" class="link_jumper">Naviguer dans les championnats</a></li>
                        <li><a onclick="jumpTo('mon_compte')" class="link_jumper">Mon compte</a></li>
                        <li><a onclick="jumpTo('contacter')" class="link_jumper">Contacter</a></li>
                        <li><a onclick="jumpTo('gestion')" class="link_jumper">Gestion - Back-office</a></li>
                        <li><a onclick="jumpTo('se_deconnecter')" class="link_jumper">Se déconnecter</a></li>
                        <li><a onclick="jumpTo('sur_mobile')" class="link_jumper">Sur mobile</a></li>
                    </ul>
                </li>
                <li><a onclick="jumpTo('pied_de_page')" class="link_jumper">Pied de page</a>
                    <ul>
                        <li><a onclick="jumpTo('nos_reseaux')" class="link_jumper">Vers nos réseaux</a></li>
                        <li><a onclick="jumpTo('pages_information')" class="link_jumper">Page d'information</a></li>
                        <li><a onclick="jumpTo('liens_generaux')" class="link_jumper">Liens généraux</a></li>
                    </ul>
                </li>
                <li><a onclick="jumpTo('signaler_disponibilite')" class="link_jumper">Signaler sa disponibilité</a></li>
                <li><a onclick="jumpTo('le_brulage')" class="link_jumper">Le brûlage</a></li>
                <li><a onclick="jumpTo('regle_2eme_journee')" class="link_jumper">Règle de la 2ème journée</a></li>
                <li><a onclick="jumpTo('tableau_disponibilites')" class="link_jumper">Tableau des disponibilités</a></li>
                <li><a onclick="jumpTo('compositions_equipes')" class="link_jumper">Compositions d'équipes</a>
                    <ul>
                        <li><a onclick="jumpTo('selection_joueurs')" class="link_jumper">Sélectionner les joueurs</a></li>
                        <li><a onclick="jumpTo('alerter_joueurs')" class="link_jumper">Alerter les joueurs sélectionnés</a></li>
                        <li><a onclick="jumpTo('reset_composition')" class="link_jumper">Désélectionner tous les joueurs</a></li>
                    </ul>
                </li>
                <li><a onclick="jumpTo('adaptation_mobiles')" class="link_jumper">Adaptation sur mobiles</a></li>
                <li><a onclick="jumpTo('gestion_backoffice')" class="link_jumper">Gestion - Back-office</a>
                    <ul>
                        <li><a onclick="jumpTo('gestion_mise_a_jour_donnees')" class="link_jumper">Mise à jour des données</a></li>
                        <li><a onclick="jumpTo('gestion_championnats')" class="link_jumper">Les championnats</a></li>
                        <li><a onclick="jumpTo('gestion_dates_journees')" class="link_jumper">Les dates des journées</a></li>
                        <li><a onclick="jumpTo('gestion_rencontres')" class="link_jumper">Les rencontres</a></li>
                        <li><a onclick="jumpTo('gestion_divisions')" class="link_jumper">Les divisions</a></li>
                        <li><a onclick="jumpTo('gestion_equipes')" class="link_jumper">Les équipes</a></li>
                        <li><a onclick="jumpTo('gestion_membres')" class="link_jumper">Les membres</a></li>
                        <li><a onclick="jumpTo('gestion_disponibilites')" class="link_jumper">Les disponibilités</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="card-panel markdown_content">
            {% if not markdown_data %}
                <p class="center pastille reset red">Le fichier de la notice de Kompo n'a pas été trouvé</p>
            {% else %}
                {{ markdown_data | markdown_to_html }}
            {% endif %}
        </div>
    </div>
{% endblock %}