{% extends 'base.html.twig' %}

{% block title %}Maintenance{% endblock %}

{% block body %}

    <div style="margin-top: 40px;" class="container">
        <div class="card-panel center-align">
            <h4 style="margin-top: 0">Kompo est en maintenance ... revenez bientôt !</h4>
            <i class="blue-text medium material-icons">build</i>
        </div>
    </div>

{% endblock %}