<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container center">
            <a href="https://www.esftt.com"><img src="https://www.esftt.com/images/logo-new.png" alt="logo ESFTT"></a>
        </div>
        <div class="container center">
            <a class="grey-text text-lighten-4 center" href="https://www.esftt.com/forum">Forum</a>
        </div>
        <div class="container center">
            <a class="grey-text text-lighten-4 center" href="https://github.com/StephSako/Kompo/blob/master/README.md">Aide</a>
        </div>
    </div>
</footer>