<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container center">
            <a class="center" href="https://www.esftt.com">Site du club</a><br>
            <a class="center" href="https://www.esftt.com/forum">Forum privé</a>
        </div>
        <div class="container center">
            <a class="center" href="{{ path('informations') }}">Infos compet</a><br>
            <a class="center" href="https://www.facebook.com/groups/46831155736">Groupe Facebook</a>
        </div>
        <div class="container center">
            <a class="center" href="https://www.pingpocket.fr/">PingPocket</a><br>
            <a class="center" href="https://github.com/StephSako/Kompo/blob/master/README.md">Aide Kompo</a>
        </div>
    </div>
</footer>