{% extends 'base.html.twig' %}

{% block title %}Une erreur est survenue{% endblock %}

{% block body %}

    <div class="container">
        <div class="card-panel center-align">
            <i class="red-text darken-2 large material-icons">sentiment_dissatisfied</i>
            <h5>Oups ... {{ exception.code != 0 ? exception.message : 'Une erreur est survenue ...' }}</h5>
            {% if exception.code == 500 %}
                <p>Réessayez de réinitialiser votre mot de passe en cliquant <a href="{{ path('login.forgotten.password') }}">ici</a></p>
            {% endif %}
            <a href="{{ path('index') }}">
                <button class="btn waves-effect blue lighten-2 center">Retour à l'accueil</button>
            </a>
        </div>
    </div>

{% endblock %}
