{% extends 'base.html.twig' %}

{% block title %}Accès refusé{% endblock %}

{% block body %}

    <div class="container">
        <div class="card-panel center-align">
            <i class="red-text darken-2 large material-icons">sentiment_dissatisfied</i>
            <h4>Oups ... On dirait que cette page n'existe pas ...</h4>

            <a href="{{ path('index') }}">
                <button class="btn waves-effect blue lighten-2 waves-light center">Retour à l'accueil</button>
            </a>
        </div>
    </div>

{% endblock %}
