{% extends 'base.html.twig' %}

{% block title %}Erreur serveur{% endblock %}

{% block body %}

    <div class="container">
        <div class="card-panel center-align">
            <i class="red-text darken-2 large material-icons">sentiment_dissatisfied</i>
            <h5>Oups ... {{ exception.code != 0 ? exception.message : 'Une erreur est survenue ...' }}</h5>

            <a href="{{ path('index') }}">
                <button class="btn waves-effect blue lighten-2 center">Retour à l'accueil</button>
            </a>
        </div>
    </div>

{% endblock %}
