{% extends 'base.html.twig' %}

{% block title %}Page introuvable{% endblock %}

{% block body %}

    <div class="container">
        <div class="card-panel center-align">
            <i class="red-text darken-2 large material-icons">sentiment_dissatisfied</i>
            <h5>Oups ... On dirait que cette page n'existe pas ...</h5>

            <span class="reset christmas_code reset">4E93Y</span>

            <a href="{{ path('index') }}">
                <button class="btn waves-effect blue lighten-2 center">Retour à l'accueil</button>
            </a>
        </div>
    </div>

{% endblock %}
