{% extends 'base.html.twig' %}

{% block title %}Accès refusé{% endblock %}

{% block body %}

    <div class="container">
        <div class="card-panel center-align">
            <i class="red-text darken-2 large material-icons">do_not_disturb_on</i>
            <h5>Vous n'avez pas accès à cette page !</h5>

            <a href="{{ path('index') }}">
                <button class="btn waves-effect blue lighten-2 waves-light center">Retour à l'accueil</button>
            </a>
        </div>
    </div>

{% endblock %}
