{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/edit/equipe.html.twig' as edit_equipe %}

{% block title %}Back office - Les équipes{% endblock %}

{% block body %}

    {{ include("components/navbar_backoffice.html.twig") }}

    <div class="container">
        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        {{ form_errors(form) }}

        {{ edit_equipe.equipe(form, 'Créer') }}
    </div>

{% endblock %}