{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/form/equipe.html.twig' as _equipe %}
{% form_theme form 'components/materialize_form_theme.html.twig' %}

{% block title %}Créer une équipe{% endblock %}

{% block body %}
    <header>
        {% include("components/navbar_backoffice.html.twig") %}
    </header>

    <div class="container">
        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        {{ form_errors(form) }}

        {{ _equipe.form(form, 'Créer', champHasDivisions, null) }}
    </div>

{% endblock %}