{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/form/division.html.twig' as _division %}

{% block title %}Modifier la division{% endblock %}

{% block body %}

    <header>
        {% include("components/navbar_backoffice.html.twig") %}
    </header>

    <div class="container">
        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        {{ _division.form(form, 'Modifier', true, true) }}
    </div>

{% endblock %}