{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/edit/division.html.twig' as edit %}

{% block title %}Modifier la division{% endblock %}

{% block body %}

    {% include("components/navbar_backoffice.html.twig") %}

    <div class="container">
        {{ edit.division(form, 'Modifier') }}
    </div>

{% endblock %}