{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as flash %}
{% import 'macros/edit/equipe.html.twig' as edit %}

{% block title %}Modifier l'équipe{% endblock %}

{% block body %}

    {% include("components/navbar_backoffice.html.twig") %}

    <div class="container">

        {% for message in app.flashes('success') %}
            {{ flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ flash.message(message, 'red') }}
        {% endfor %}

        {{ edit.equipe(form) }}
    </div>

{% endblock %}